.HomePageDocumentCards {
  .m-home-page-section;
}

.HomePageDocumentCards-headline {
  .m-home-page-headline;
}

.HomePageDocumentCards-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.HomePageDocumentCards-card {
  width: 300px;
  margin: 15px;
}

.HomePageDocumentCards-cardTitle {
  font-size: @edu-font-size-base;
  font-weight: bold;
  .m-overflow-ellipsis;
}

.HomePageDocumentCards-cardContent {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: @edu-font-size-sm;
}

.HomePageDocumentCards-cardContentDescription {
  .m-line-clamp(3);
}

.HomePageDocumentCards-cardContentDate {
  color: @edu-text-color-secondary;
}

.HomePageDocumentCards-cardFavoriteAction {
  display: flex;
  justify-content: center;
}

.HomePageDocumentCards-cardUserAction {
  &:hover {
    cursor: default;
    color: @edu-text-color;
  }
}
