.MaintenanceDocumentCategoriesTab {}

.MaintenanceDocumentCategoriesTab-controls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr auto;
  grid-template-rows: auto;
  align-items: center;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, auto);
  }
}

.MaintenanceDocumentCategoriesTab-filter {
  width: 100%;
}

.MaintenanceDocumentCategoriesTab-categoryPanel {
  &:not(:first-child) {
    margin-top: @edu-control-spacing-wide;
  }
}

.MaintenanceDocumentCategoriesTab-categoryIcon {
  max-width: @edu-control-height-sm;
  max-height: @edu-control-height-sm;
}

.MaintenanceDocumentCategoriesTab-categoryHeader {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: @edu-control-spacing-wide;
  grid-template-columns: @edu-control-height-sm 1fr;
}

.MaintenanceDocumentCategoriesTab-categoryPanelButtonsGroup {
  .m-control-group();
}

.MaintenanceDocumentCategoriesTab-categoryDetailsHeader {
  font-weight: bold;
  margin-bottom: @edu-content-padding;

  &:not(:first-child) {
    margin-top: 2 * @edu-content-padding;
  }
}

.MaintenanceDocumentCategoriesTab-categoryDetailsFooter {
  margin-top: 2 * @edu-content-padding;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
}
