.MaintenanceRequestsTab {
  .ant-table-thead th::before {
    height: 80% !important;
  }

  .ant-table-thead th[colspan] {
    border-bottom: 1px solid @edu-border-color-light !important;
  }

  .ant-table-thead th[colspan]:not(:last-child)::before {
    position: absolute;
    height: 80%;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    background-color: @edu-border-color-light;
    transform: translateY(-50%);
    content: "";
  }

  .ant-table-thead .ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .ant-table-row .ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.MaintenanceRequestsTab-controls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr auto;
  grid-template-rows: auto;
  align-items: center;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
  }
}

.MaintenanceRequestsTab-titleCell {
  .m-line-clamp(1);
  text-decoration: none;
}
