.MaintenanceDocumentCategoriesTab {}

.MaintenanceDocumentCategoriesTab-controls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  align-items: center;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: repeat(1, auto);
  }
}
