.MaintenanceRequestsTab {
  .ant-table-thead th::before {
    height: 80% !important;
  }

  .ant-table-thead th[colspan] {
    border-bottom: 1px solid @edu-border-color-light !important;
  }

  .ant-table-thead th[colspan]:not(:last-child)::before {
    position: absolute;
    height: 80%;
    top: 50%;
    inset-inline-end: 0;
    width: 1px;
    background-color: @edu-border-color-light;
    transform: translateY(-50%);
    content: "";
  }

  .ant-table-thead .ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .ant-table-row .ant-table-cell {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

.MaintenanceRequestsTab-controls {
  display: grid;
  gap: 50px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  margin-bottom: 40px;

  @media @edu-media-phone {
    gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
  }
}

.MaintenanceRequestsTab-controlsColumn {
  display: grid;
  gap: 15px;
  grid-template-rows: auto;
  align-items: start;
}

.MaintenanceRequestsTab-controlsColumnFilters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .m-fake-flex-gap(15px);
  flex-wrap: wrap;
}

.MaintenanceRequestsTab-controlsColumnCheckboxes {
  display: flex;
  flex-wrap: wrap;
}

.MaintenanceRequestsTab-titleCell {
  .m-line-clamp(1);
  text-decoration: none;
}

.MaintenanceRequestsTab-sortersSaparator {
  padding-left: 15px;
  font-size: @edu-font-size-xs;
}

.MaintenanceRequestsTab-sorterButtons {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  padding: 5px 15px;
  gap: 10px;

  button {
    font-size: @edu-font-size-xs !important;
  }
}
