.HomepageDocumentCards {
  .m-homepage-section;
}

.HomepageDocumentCards-headline {
  .m-homepage-headline;
}

.HomepageDocumentCards-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .DocumentCard {
    .m-row-card(3) !important;
    margin: @edu-content-padding;
  }
}
