
.ActionInvitation {
  display: block;
  text-align: center;
}

.ActionInvitation-icon {
  display: block;
  text-align: center;
  font-size: 52px;
  line-height: 100%;
  margin-bottom: 10px;
  color: @edu-text-color-secondary !important;

  @media @edu-media-phone {
    font-size: 26px;
    margin-bottom: 5px;
  }
}

.ActionInvitation-title {
  font-size: @edu-font-size-lg;
  font-weight: bold;

  @media @edu-media-phone {
    font-size: @edu-font-size-base;
  }
}

.ActionInvitation-subtitle {
  margin-top: 10px;
  font-size: @edu-font-size-sm;
}
