.ResourceDetails {}

.ResourceDetails-previewArea {
  display: grid;
  margin: 0 auto;
  width: fit-content;
  grid-auto-flow: row;
  align-items: center;
  justify-content: center;
  gap: @edu-control-spacing-wide;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  background-color: @edu-white;
}

.ResourceDetails-fileMetadata {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
  padding-top: 5px;
}
