.ResourcePreview {
  display: grid;
  align-items: center;
  justify-items: stretch;
}

.ResourcePreview-previewArea {
  width: 100%;
  height: fit-content;
  max-width: 360px;
  max-height: 280px;
  border-radius: @edu-border-radius-base;
  background-color: @edu-white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ResourcePreview-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.ResourcePreview-icon {
  display: block;
  font-size: 12em;
}

.ResourcePreview-pdf {
  display: flex;
  flex-direction: column;
}

.ResourcePreview-pdfDocument {
  flex: 0 1 0%;
}

.ResourcePreview-pdfPager {
  flex: none;
}
