.ResourceUrl {
  display: grid;
  gap: @edu-control-spacing-wide;
  align-items: baseline;
  place-content: center;
  grid-auto-flow: column;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
  margin-top: 30px;
}

.ResourceUrl-icon {
  font-size: @edu-font-size-base;
  color: darken(@edu-text-color, 10%);
}
