.ResourcePreview {
  min-width: 180px;
  max-width: 360px;
  height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: transparent;

  &.ResourcePreview--pdf {
    height: 100%;
  }

  &.ResourcePreview--video {
    height: auto;
  }

  &.ResourcePreview--fullWidth {
    display: block;
    width: 100%;
    height: auto;
    max-width: unset;
  }
}

.ResourcePreview-image {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.ResourcePreview-icon {
  display: block;
  font-size: 12em;
}

.ResourcePreview-pdf {
  display: flex;
  flex-direction: column;
}

.ResourcePreview-mediaPlayer {
  display: flex;
  align-items: center;
  max-width: 100%;

  &.ResourcePreview-mediaPlayer--fullWidth {
    display: block;
  }
}
