.SelectedResourceDisplay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SelectedResourceDisplay-title {
  font-weight: bold;
}

.SelectedResourceDisplay-subtitleWrapper {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  text-align: start;
}

.SelectedResourceDisplay-subtitle {
  font-size: @edu-font-size-sm;
}

.SelectedResourceDisplay-actions {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  place-items: center;
}

.SelectedResourceDisplay-footer {
  font-size: @edu-font-size-sm;
  margin-top: 10px;
}
