.SelectedResourceDisplay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.SelectedResourceDisplay-title {
  font-weight: bold;
}

.SelectedResourceDisplay-subtitle {
  font-size: @edu-font-size-sm;
}

.SelectedResourceDisplay-footer {
  font-size: @edu-font-size-sm;
}
