.u-resource-selector-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @edu-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.u-resource-selector-screen-content {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.u-resource-selector-screen-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.u-resource-selector-screen-footer-right-aligned {
  .u-resource-selector-screen-footer;
  justify-content: flex-end;
}

.u-resource-selector-screen-footer-buttons {
  .m-control-group-wide;
  margin-top: @edu-control-spacing-base;
}

.u-label {
  color: @edu-label-color;
}
