{
  "extends": ["eslint:all", "plugin:react/all"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "array-element-newline": ["off"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["off"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "capitalized-comments": ["error", "always", { "ignoreConsecutiveComments": true }],
    "class-methods-use-this": ["off"],
    "dot-location": ["error", "property"],
    "func-names": ["error", "as-needed"],
    "func-style": ["off"],
    "id-length": ["off"],
    "indent": ["error", 2, { "SwitchCase": 1, "ignoredNodes": ["JSXOpeningElement"] }],
    "init-declarations": ["off"],
    "line-comment-position": ["off"],
    "linebreak-style": ["off"],
    "max-len": ["off"],
    "max-lines": ["off"],
    "max-params": ["error", 8],
    "max-statements": ["off"],
    "multiline-comment-style": ["off"],
    "multiline-ternary": ["error", "always-multiline"],
    "new-cap": ["error", { "capIsNewExceptionPattern": "^express\\.Router" }],
    "newline-per-chained-call": ["off"],
    "no-confusing-arrow": ["off"],
    "no-empty-function": ["off"],
    "no-extra-parens": ["error", "all", { ignoreJSX: "all" }],
    "no-implicit-coercion": ["error", { "allow": ["!!", "~"] }],
    "no-inline-comments": ["off"],
    "no-magic-numbers": ["off"],
    "no-ternary": ["off"],
    "no-underscore-dangle": ["off"],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", { "consistent": true }],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "object-shorthand": ["error", "consistent-as-needed"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "before"],
    "padded-blocks": ["off"],
    "prefer-destructuring": ["off"],
    "require-jsdoc": ["off"],
    "sort-keys": ["off"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single"],
    "wrap-iife": ["error", "inside"],
    "react/destructuring-assignment": ["off"],
    "react/forbid-component-props": ["error", { "forbid": [{ "propName": "style", "allowedFor": ["Icon"] }] }],
    "react/forbid-prop-types": ["off"],
    "react/jsx-closing-bracket-location": [1, "props-aligned"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-depth": ["error", { "max": 5 }],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-no-literals": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-sort-props": ["off"],
    "react/no-danger": ["off"],
    "react/no-multi-comp": ["off"],
    "react/no-set-state": ["off"],
    "react/require-optimization": ["off"]
  }
}
