{
  "extends": "eslint:all",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "array-element-newline": ["error", { "multiline": true }],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["off"],
    "dot-location": ["error", "property"],
    "indent": ["error", 2],
    "max-len": ["off"],
    "no-magic-numbers": ["off"],
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "padded-blocks": ["off"],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single"]
  }
}
