{
  "extends": [
    "eslint:all",
    "plugin:import/recommended",
    "plugin:react/all"
  ],
  "env": {
    "es2022": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "18.2"
    }
  },
  "plugins": [
    "import",
    "react-hooks"
  ],
  "rules": {
    "array-element-newline": ["off"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["off"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "capitalized-comments": ["error", "always", { "ignoreConsecutiveComments": true }],
    "class-methods-use-this": ["off"],
    "dot-location": ["error", "property"],
    "func-names": ["error", "as-needed"],
    "func-style": ["off"],
    "function-call-argument-newline": ["error", "consistent"],
    "id-length": ["off"],
    "indent": ["error", 2, { "SwitchCase": 1, "ignoredNodes": ["JSXOpeningElement"] }],
    "init-declarations": ["off"],
    "line-comment-position": ["off"],
    "linebreak-style": ["off"],
    "max-classes-per-file": ["off"],
    "max-len": ["error", { "code": 160, "ignoreStrings": true, "ignoreTemplateLiterals": true }],
    "max-lines": ["error", { "max": 500, "skipBlankLines": true, "skipComments": true }],
    "max-lines-per-function": ["off"],
    "max-params": ["error", 8],
    "max-statements": ["off"],
    "multiline-comment-style": ["off"],
    "multiline-ternary": ["error", "always-multiline"],
    "new-cap": ["error", { "capIsNewExceptionPattern": "^express\\.Router" }],
    "newline-per-chained-call": ["off"],
    "no-confusing-arrow": ["off"],
    "no-empty-function": ["off"],
    "no-extra-parens": ["error", "all", { "nestedBinaryExpressions": false, "ignoreJSX": "all" }],
    "no-implicit-coercion": ["error", { "allow": ["!!", "~"] }],
    "no-inline-comments": ["off"],
    "no-magic-numbers": ["off"],
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "no-negated-condition": ["off"],
    "no-ternary": ["off"],
    "no-underscore-dangle": ["off"],
    "no-unused-expressions": ["off"],
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", { "consistent": true }],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "before"],
    "padded-blocks": ["off"],
    "prefer-destructuring": ["off"],
    "prefer-named-capture-group": ["off"],
    "require-jsdoc": ["off"],
    "sort-imports": ["off"],
    "sort-keys": ["off"],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never", "asyncArrow": "always" }],
    "quote-props": ["error", "consistent-as-needed"],
    "quotes": ["error", "single"],
    "require-unicode-regexp": ["off"],
    "wrap-iife": ["error", "inside"],
    "import/extensions": ["error", "ignorePackages"],
    "import/no-named-as-default-member": ["off"],
    "import/no-unresolved": ["error", { "ignore": ["^vitest/config$"] }],
    "react/destructuring-assignment": ["off"],
    "react/forbid-component-props": ["off"],
    "react/forbid-prop-types": ["off"],
    "react/no-array-index-key": ["off"],
    "react/jsx-closing-bracket-location": [1, "props-aligned"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-fragments": ["error", "element"],
    "react/jsx-handler-names": ["error", { "eventHandlerPrefix": "(handle)", "eventHandlerPropPrefix": "(on|before|after)" }],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-depth": ["off"],
    "react/jsx-max-props-per-line": ["error", { "maximum": 1, "when": "multiline" }],
    "react/jsx-newline": ["off"],
    "react/jsx-no-bind": ["error", { "allowArrowFunctions": true }],
    "react/jsx-no-literals": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/jsx-sort-props": ["off"],
    "react/no-danger": ["off"],
    "react/no-multi-comp": ["off"],
    "react/no-set-state": ["off"],
    "react/require-optimization": ["off"],
    "react/static-property-placement": ["off"],
    "react-hooks/rules-of-hooks": ["error"],
    "react-hooks/exhaustive-deps": ["error"]
  }
}
