.CountryFlagAndName {
  display: inline;

  &.CountryFlagAndName--stacked {
    display: block;

    .CountryFlagAndName-flag {
      width: 100%;
      display: block;
      text-align: center;
      line-height: unset;
      height: 6em;
    }

    .CountryFlagAndName-name {
      width: 100%;
      display: block;
      text-align: center;
      line-height: unset;
    }
  }
}
