@language-icon-color: @grey-7;

.LanguageIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: 11px;
  color: @language-icon-color;
  border: 1px solid @language-icon-color;
  border-radius: 50%;
}
