.LanguageIcon {
  cursor: help;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  font-size: @edu-font-size-xs;
  color: @edu-text-color-secondary;
  border: 1px solid @edu-text-color-secondary;
  border-radius: 50%;
}
