.LanguageFlagAndName {
  display: inline;
  white-space: nowrap;

  &.LanguageFlagAndName--stacked {
    display: block;

    .LanguageFlagAndName-flag {
      width: 100%;
      display: block;
      text-align: center;
      line-height: unset;
      height: 6em;
    }

    .LanguageFlagAndName-name {
      width: 100%;
      display: block;
      margin-top: 5px;
      text-align: center;
      line-height: unset;
    }
  }
}
