.Html5Player {
  position: relative;
  height: 100%;
}

.Html5Player-posterImage {
  .m-mask;
  background-position: center;
  background-size: cover;
}

.Html5Player-playOverlay {
  .m-mask;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Html5Player-playOverlayIcon {
  .m-video-play-icon;
}
