.YoutubePlayer {
  position: relative;
  height: 100%;
}

.YoutubePlayer-posterImage {
  .m-mask;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.YoutubePlayer-playIcon {
  .m-video-play-icon;
}
