.DocumentOrRoomMediaUploadScreen {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
}

.DocumentOrRoomMediaUploadScreen-headline {
  margin-bottom: 30px;
}

.DocumentOrRoomMediaUploadScreen-usedStorage {
  margin-bottom: 20px;
}

.DocumentOrRoomMediaUploadScreen-fileStatus {
  margin: 10px;
}

.DocumentOrRoomMediaUploadScreen-fileStatusRow {
  .m-control-group-wide;
}

.DocumentOrRoomMediaUploadScreen-fileStatusError {
  padding-left: 25px;
  font-size: @edu-font-size-sm;
  color: @edu-error-color;
}

.DocumentOrRoomMediaUploadScreen-fileStatusPreview {
  margin-top: 25px;
}

.DocumentOrRoomMediaUploadScreen-message {
  margin-bottom: 15px;
}

.DocumentOrRoomMediaUploadScreen-messageDetails {
  padding: 5px 0 0 5px;
  font-size: @edu-font-size-sm;
}

.DocumentOrRoomMediaUploadScreen-fileStatusContainer {
  overflow: auto;
}

.DocumentOrRoomMediaUploadScreen-fileStatusIcon {
  &.DocumentOrRoomMediaUploadScreen-fileStatusIcon--pristine {
    color: @edu-success-color;
  }

  &.DocumentOrRoomMediaUploadScreen-fileStatusIcon--processed {
    color: @edu-secondary-color-dark;
  }

  &.DocumentOrRoomMediaUploadScreen-fileStatusIcon--success {
    color: @edu-success-color;
  }

  &.DocumentOrRoomMediaUploadScreen-fileStatusIcon--error {
    color: @edu-error-color;
  }
}

.DocumentOrRoomMediaUploadScreen-fileStatusMessage {
  font-style: italic;
  color: @edu-secondary-color-dark;
}

.DocumentOrRoomMediaUploadScreen-imageOptimizationCheckbox {
  font-size: @edu-font-size-sm;
  margin-left: auto;
  margin-right: 0;
}
