.HomePageTemplate {
  display: flex;
  flex-direction: column;
  min-width: @edu-min-page-width;
  width: 100vw;
}

.HomePageTemplate-aboveFold {
  .m-page-content;
  height: 100vh;
  min-height: 100vh;
  padding-bottom: 0;
  padding-top: @edu-page-content-padding;
  flex: 1 0 0%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media @edu-media-phone {
    padding-bottom: 0;
  }
}

.HomePageTemplate-aboveFoldContent {
  height: 100%;
  width: 100%;
  display: grid;
  gap: @edu-content-padding;
  grid-template-rows: 1fr auto 2fr;
  max-width: @edu-content-width-narrow;
}

.HomePageTemplate-logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 40px;
}

.HomePageTemplate-subtitle {
  font-size: @edu-font-size-xl;
  font-weight: 300;
  text-align: center;
}

.HomePageTemplate-pictogramSearch {
  width: 100%;
  display: flex;
  justify-content: center;
}

.HomePageTemplate-underFold {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
}

.HomePageTemplate-underFoldStripe {
  width: 100%;
  padding: 50px @edu-page-content-padding;

  &.HomePageTemplate-underFoldStripe--documents {
    background-color: @edu-background-color-medium;
  }
}

.HomePageTemplate-underFoldStripeContent {
  width: 100%;
  margin: 0 auto;
  max-width: @edu-content-width-wide;
}
