.HomePagePresentation {}

.HomePagePresentation-videoWrapper {
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/images/home-page-video-icons.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.HomePagePresentation-video {
  max-width: 60%;
}

.HomePagePresentation-details {
  .m-home-page-section;
}

.HomePagePresentation-logo {
  display: flex;
  justify-content: center;
  width: 80px;
  aspect-ratio: 1;
}
