body {
  margin: 0;
  font-family: @edu-font-family;
}

h1 {
  font-size: @edu-heading-1-size;
}

h2 {
  font-size: @edu-heading-2-size;
}

h3 {
  font-size: @edu-heading-3-size;
}

h4 {
  font-size: @edu-heading-4-size;
}

h5 {
  font-size: @edu-heading-5-size;
}
