body {
  margin: 0;
  color: @edu-text-color;
  font-size: @edu-font-size-base;
  font-family: @edu-font-family;
  line-height: @edu-line-height-base;
}

h1 {
  font-size: @edu-heading-1-size;
}

h2 {
  font-size: @edu-heading-2-size;
}

h3 {
  font-size: @edu-heading-3-size;
}

h4 {
  font-size: @edu-heading-4-size;
}

h5 {
  font-size: @edu-heading-5-size;
}

h6 {
  font-size: @edu-heading-6-size;
}
