// Font families
@edu-font-family: sans-serif;
@edu-code-family: monospace;

// Font sizes
@edu-font-size-base: 14px;
@edu-font-size-lg: @edu-font-size-base + 2px;
@edu-font-size-sm: @edu-font-size-base - 2px;
@edu-heading-1-size: ceil(@edu-font-size-base * 1.85);
@edu-heading-2-size: ceil(@edu-font-size-base * 1.55);
@edu-heading-3-size: ceil(@edu-font-size-base * 1.40);
@edu-heading-4-size: ceil(@edu-font-size-base * 1.30);
@edu-heading-5-size: ceil(@edu-font-size-base * 1.20);
@edu-heading-6-size: ceil(@edu-font-size-base * 1.10);

// Layering
// (should stay below 1000 as the antd layers begin there)
@edu-z-index-base-layer: 0;
@edu-z-index-cover-layer: 1;
@edu-z-index-overlay-layer: 900;
@edu-z-index-sticky-content-layer: 901;

// Layout
@edu-page-content-padding: 30px;
@edu-control-spacing-base: 5px;
@edu-control-spacing-wide: 10px;
@edu-content-padding: 15px;
@edu-min-page-width: 200px;
@edu-content-width-wide: 1200px;
@edu-content-width-narrow: 800px;
@edu-control-height-base: 32px;
@edu-control-height-lg: 40px;
@edu-control-height-sm: 24px;

// Colors
@edu-white: #FFFFFF;
@edu-black: #000000;
@edu-primary-color-light: #6D8BB1;
@edu-primary-color-dark: #4F608E;
@edu-secondary-color-light: #F5E3D6;
@edu-secondary-color-dark: #EAA58D;
@edu-text-color: #626262;
@edu-text-color-secondary: #9A9A9A;
@edu-disabled-color: #E6E6E6;
@edu-disabled-color-checked: #BCBCBC; // see if it can be removed
@edu-background-color-base: #F0F0F0;
@edu-background-color-light: #FAFAFA;
@edu-border-color-dark: #BCBCBC;
@edu-border-color-base: #D9D9D9;
@edu-border-color-light: #E8E8E8;
@edu-border-color-active: @edu-primary-color-light;
@edu-tooltip-background-color: rgba(62, 82, 118, 0.75);
@edu-success-color: #57A773;
@edu-error-color: #B02E0C;
@edu-warning-color: #FA8C16;
@edu-info-color: @edu-primary-color-light;
@edu-link-color: @edu-text-color;
@edu-link-hover-color: @edu-text-color;
@edu-link-active-color: @edu-text-color;
@edu-link-decoration: underline;
@edu-text-color-inverse: @edu-white;
@edu-label-color: @edu-text-color;
@edu-selection-background-color: @edu-background-color-base;
// Colors - outline
@edu-outline-blur-size: 0;
@edu-outline-width: 2px;
@edu-outline-color: @edu-primary-color-dark;
@edu-outline-fade: 20%;

// Animation
@edu-animation-duration-slow: 0.3s;
@edu-animation-duration-base: 0.2s;
@edu-animation-duration-fast: 0.1s;

// Border radii
@edu-border-radius-base: 8px;

// Responsiveness
@edu-breakpoint-xs: 480px;
@edu-breakpoint-sm: 576px;
@edu-breakpoint-md: 768px;
@edu-breakpoint-lg: 992px;
@edu-breakpoint-xl: 1200px;
@edu-breakpoint-xxl: 1600px;

@edu-media-phone-portrait: %(~"screen and (max-width: %s)", @edu-breakpoint-sm - 0.01px);
@edu-media-phone-landscape: %(~"screen and (min-width: %s) and (max-width: %s)", @edu-breakpoint-sm, @edu-breakpoint-md - 0.01px);
@edu-media-phone-tablet: %(~"screen and (min-width: %s) and (max-width: %s)", @edu-breakpoint-md, @edu-breakpoint-lg - 0.01px);
@edu-media-phone-desktop: %(~"screen and (min-width: %s)", @edu-breakpoint-lg);

@edu-media-phone: %(~"screen and (max-width: %s)", @edu-breakpoint-md - 0.01px);
@edu-media-not-phone: %(~"screen and (min-width: %s)", @edu-breakpoint-md);
