@global-font-family: 'Roboto', sans-serif;
//Headers
@global-h1-font-size: 2em;
@global-h2-font-size: 1.5em;

//Layout
@global-content-padding: 12px;
@global-min-page-width: 200px;
@global-content-width-wide: 1200px;
@global-content-width-narrow: 800px;
@global-button-spacing: 6px;

//Colors
@global-primary-color: @blue-7;
@global-text-color: @text-color;
@global-heading-color: @heading-color;
@global-error-color: @error-color;
@global-warning-color: @warning-color;
@global-success-color: @success-color;
