// Font families
@edu-font-family: sans-serif;
@edu-code-family: monospace;

// Font sizes
@edu-font-size-base: 14px;
@edu-font-size-lg: @edu-font-size-base + 2px;
@edu-font-size-sm: @edu-font-size-base - 2px;
@edu-heading-1-size: ceil(@edu-font-size-base * 1.85);
@edu-heading-2-size: ceil(@edu-font-size-base * 1.55);
@edu-heading-3-size: ceil(@edu-font-size-base * 1.40);
@edu-heading-4-size: ceil(@edu-font-size-base * 1.30);
@edu-heading-5-size: ceil(@edu-font-size-base * 1.20);
@edu-heading-6-size: ceil(@edu-font-size-base * 1.10);

// Layering
// (should stay below 1000 as the antd layers begin there)
@edu-z-index-base-layer: 0;
@edu-z-index-cover-layer: 1;
@edu-z-index-overlay-layer: 900;
@edu-z-index-sticky-content-layer: 901;

// Layout
@edu-content-padding: 12px;
@edu-min-page-width: 200px;
@edu-content-width-wide: 1200px;
@edu-content-width-narrow: 800px;
@edu-button-spacing: 6px;
@edu-control-height-base: 32px;
@edu-control-height-lg: 40px;
@edu-control-height-sm: 24px;

// Colors
@edu-primary-color: @blue-6;
@edu-link-color: softlight(@edu-primary-color, @edu-white);
@edu-link-hover-color: lighten(@edu-link-color, 15%);
@edu-link-active-color: lighten(@edu-link-color, 15%);
@edu-info-color: @edu-primary-color;
@edu-apply-color: @green-4;
@edu-success-color: @green-6;
@edu-processing-color: @edu-primary-color;
@edu-discard-color: @red-4;
@edu-error-color: @red-5;
@edu-danger-color: @red-8;
@edu-highlight-color: @red-5;
@edu-warning-color: @gold-6;
@edu-normal-color: @grey-5;
@edu-white: @grey-1;
@edu-black: @grey-10;
@edu-text-color: fade(@edu-black, 85%);
@edu-text-color-secondary: fade(@edu-black, 45%);
@edu-text-color-inverse: @edu-white;
@edu-selection-background-color: fade(@edu-primary-color, 10%);

// Slider
@edu-slider-rail-background-color: @grey-4;
@edu-slider-rail-background-color-hover: @grey-5;
@edu-slider-track-background-color: tint(@edu-primary-color, 40%);
@edu-slider-track-background-color-hover: tint(@edu-primary-color, 20%);
@edu-slider-dot-border-color: @grey-5;
@edu-slider-dot-border-color-active: tint(@edu-primary-color, 20%);

// Table
@edu-table-selected-row-background-color: tint(@edu-primary-color, 95%);

// Border radii
@edu-border-radius-base: 2px;
@edu-border-radius-sm: @edu-border-radius-base;

// Responsiveness
@edu-breakpoint-xs: 480px;
@edu-breakpoint-sm: 576px;
@edu-breakpoint-md: 768px;
@edu-breakpoint-lg: 992px;
@edu-breakpoint-xl: 1200px;
@edu-breakpoint-xxl: 1600px;

@edu-media-phone-portrait: %(~"screen and (max-width: %s)", @edu-breakpoint-sm - 0.01px);
@edu-media-phone-landscape: %(~"screen and (min-width: %s) and (max-width: %s)", @edu-breakpoint-sm, @edu-breakpoint-md - 0.01px);
@edu-media-phone-tablet: %(~"screen and (min-width: %s) and (max-width: %s)", @edu-breakpoint-md, @edu-breakpoint-lg - 0.01px);
@edu-media-phone-desktop: %(~"screen and (min-width: %s)", @edu-breakpoint-lg);

@edu-media-phone: %(~"screen and (max-width: %s)", @edu-breakpoint-md - 0.01px);
@edu-media-not-phone: %(~"screen and (min-width: %s)", @edu-breakpoint-md);
