.HistoryPanel {
  display: grid;
  gap: 30px;
  grid-auto-flow: row;
  padding: 30px 15px 0 30px;
}

.HistoryPanel-item {
  .ant-collapse-header {
    padding: 0 !important;
  }

  .ant-collapse-content-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.HistoryPanel-itemDot {
  &.HistoryPanel-itemDot--circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid @edu-border-color-light;
  }

  &.HistoryPanel-itemDot--icon {
    color: @edu-text-color;
  }
}

.HistoryPanel-itemHeader {
  display: grid;
  gap: 2px;
  grid-auto-flow: row;
}

.HistoryPanel-itemHeaderText {
  &.is-open-panel {
    font-weight: bold;
  }
}

.HistoryPanel-itemHeaderSubtext {
  color: @edu-text-color-secondary;
}

.HistoryPanel-itemContentRow {
  display: flex;
  flex-wrap: wrap;
}

.HistoryPanel-itemContentRowValue {
  margin-left: 5px;
  color: @edu-text-color-secondary;
}

.HistoryPanel-itemActions {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  grid-auto-flow: column;
  justify-content: start;
}

.HistoryPanel-itemInfo {
  margin-top: 10px;
  font-size: @edu-font-size-sm;
}
