.InfoCell {
  display: block;
  text-decoration: none;
}

.InfoCell-mainText {
  color: @edu-content-title-color;
  font-size: 1.25em;
  font-weight: bold;
}

.InfoCell-description {
  margin-top: 0.2em;
  color: fade(@edu-text-color, 80%);
}

.InfoCell-subtext {
  margin-top: 0.75em;
  font-size: 0.9em;
  color: @edu-text-color-secondary;
}