@import 'antd/dist/antd.less';   // import official less entry file
@import './ant-overrides.less';                     // override variables here

@import 'flag-icon-css/less/flag-icon.less';
@flag-icon-css-path: '/images/flags';

@import (less) 'react-piano/dist/styles.css';
@import (less) 'abcjs/abcjs-midi.css';

// See also: https://ant.design/docs/spec/colors

// Ant 4.16.13 sets this to flex making icons appear at the top of the button,
// setting it back to inline-block like in earlier ant versions fixes the problem.
// The following hack has to stay here until this issue is fixed and published:
// https://github.com/ant-design/ant-design/issues/32365
&.ant-btn-icon-only > .anticon {
  display: inline-block;
}

@import './dancing-script-font.less';
@import './fontawesome.less';
@import './roboto-font.less';
@import './variables.less';
@import './utilities.less';
@import './mixins.less';

// React components
@import '../components/default-page-template.less';
@import '../components/default-site-logo.less';
@import '../components/error-page.less';
@import '../components/pages/index.less';
@import '../components/pages/doc.less';
@import '../components/pages/docs.less';
@import '../components/pages/edit-doc.less';
@import '../components/pages/login.less';
@import '../components/pages/users.less';
@import '../components/pages/settings.less';
@import '../components/pages/my-space.less';
@import '../components/pages/register.less';
@import '../components/pages/reset-password.less';
@import '../components/pages/complete-registration.less';
@import '../components/pages/complete-password-reset.less';
@import '../components/pages/search.less';
@import '../components/pages/import-batch-creation.less';
@import '../components/pages/import-batches.less';
@import '../components/pages/import-batch-view.less';
@import '../components/pages/browser-not-supported.less';
@import '../components/pages/room-membership-confirmation.less';
@import '../components/pages/room.less';
@import '../components/link-popover.less';
@import '../components/audio-player.less';
@import '../components/color-picker.less';
@import '../components/repository-browser.less';
@import '../components/media-control.less';
@import '../components/deleted-section.less';
@import '../components/credits-footer.less';
@import '../components/not-supported-section.less';
@import '../components/document-import-table.less';
@import '../components/ui-language-dialog.less';
@import '../components/localization/country-flag-and-name.less';
@import '../components/import-type-icon.less';
@import '../components/cookie-consent-drawer.less';
@import '../components/rooms-tab.less';

// Pure CSS components
@import '../styles/panel.less';
@import '../styles/content.less';
@import '../styles/section.less';

// Plugin styles
@import '../plugins/anavis/anavis.less';
@import '../plugins/markdown/markdown.less';
@import '../plugins/annotation/annotation.less';
@import '../plugins/abc-notation/abc-notation.less';
@import '../plugins/quick-tester/quick-tester.less';
@import '../plugins/audio/audio.less';
@import '../plugins/video/video.less';
@import '../plugins/image/image.less';
@import '../plugins/iframe/iframe.less';
@import '../plugins/image-tiles/image-tiles.less';
@import '../plugins/interval-trainer/interval-trainer.less';
@import '../plugins/ear-training/ear-training.less';
@import '../plugins/diagram-net/diagram-net.less';

// Global variables styles
@import './global-variables.less';

body {
  font-family: @global-font-family;
}

h1 {
  font-size: @global-h1-font-size;
}

h2 {
  font-size: @global-h2-font-size;
}
