.m-page-content {
  padding: @edu-page-content-padding;

  @media @edu-media-phone {
    padding: (@edu-page-content-padding / 2);
  }
}

.m-fullscreen {
  padding-bottom: 20vh;
}

.m-page-content-fullscreen {
  .m-page-content;
  .m-fullscreen;
}

.m-icon-button {
  &.ant-btn > span:not([role="img"]) {
    @media @edu-media-phone {
      display: none;
    }
  }
}

.m-no-spinner-background {
  &::before {
    display: none !important;
  }
}

.m-grouped-button {
  margin-right: @edu-control-spacing-base;

  &:last-child {
    margin-right: 0;
  }
}

.m-hide-browser-keyboard-focus {
  outline: none !important; // Removes user agent black border when focused by keyboard
}

// Mixin for Antd Collapse components to remove left indentation and paddings:
.m-antd-collapse-without-padding {
  & > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }

  & > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding: @edu-content-padding 0 0 0;
  }
}

.m-antd-inverted-slider {
  & > .ant-slider-rail {
    background-color: tint(@edu-primary-color-light, 20%);
  }

  &:hover > .ant-slider-rail {
    background-color: tint(@edu-primary-color-light, 30%);
  }

  & > .ant-slider-step > .ant-slider-dot {
    border-color: tint(@edu-primary-color-light, 40%);
  }

  & > .ant-slider-step > .ant-slider-dot-active {
    border-color: tint(@edu-primary-color-light, 50%);
  }

  & > .ant-slider-track,
  & > .ant-slider-handle {
    background-color: @grey-4;
  }

  &:hover > .ant-slider-track,
  &:hover > .ant-slider-handle {
    background-color: @grey-1;
  }
}

.m-narrow-fullscreen-page-content {
  margin: 0 auto;
  max-width: 360px;
}

.m-medium-fullscreen-page-content {
  margin: 0 auto;
  max-width: 480px;
}

.m-horizontally-centered {
  margin-left: auto;
  margin-right: auto;
}

.m-overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.m-line-clamp(@count) {
  display: -webkit-box;
  -webkit-line-clamp: @count;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.m-circle(@diameter) {
  width: @diameter;
  height: @diameter;
  border-radius: 50%;
}

.m-box-shadow {
  border-radius: @edu-border-radius-base;
  box-shadow: 0px 0px @edu-box-shadow-base @edu-border-color-base;
}

.m-box-shadow-dark {
  border-radius: @edu-border-radius-base;
  box-shadow: 0px 0px @edu-box-shadow-base @edu-border-color-dark;
}

.m-border-glow-success {
  border-color: @edu-success-color;
  box-shadow: 0px 0px @edu-box-shadow-base @edu-success-color;
}

.m-border-glow-error {
  border-color: @edu-error-color;
  box-shadow: 0px 0px @edu-box-shadow-base @edu-error-color;
}

.m-control-border-transition {
  transition: border-color @edu-animation-duration-slow, box-shadow @edu-animation-duration-slow;
}

.m-control-border-base {
  .m-control-border-transition;
  border: 1px solid @edu-border-color-base;
  border-radius: @edu-border-radius-base;
  outline: @edu-outline-blur-size;
}

.m-control-border-disabled {
  .m-control-border-transition;
  border: 1px solid @edu-border-color-light;
  outline: none;
}

.m-control-border-hover {
  .m-control-border-transition;
  border-color: @edu-border-color-active;
}

.m-control-border-focus {
  .m-control-border-transition;
  border-color: @edu-border-color-active;
  box-shadow: 0 0 0 @edu-outline-width fade(@edu-border-color-active, @edu-outline-fade);
}

.m-control-border-warning {
  .m-control-border-transition;
  border-color: @edu-warning-color;
}

.m-control-border-warning-focus {
  .m-control-border-transition;
  border-color: @edu-warning-color;
  box-shadow: 0 0 0 @edu-outline-width fade(@edu-warning-color, @edu-outline-fade);
}

.m-control-border-error {
  .m-control-border-transition;
  border-color: @edu-error-color;
}

.m-control-border-error-focus {
  .m-control-border-transition;
  border-color: @edu-error-color;
  box-shadow: 0 0 0 @edu-outline-width fade(@edu-error-color, @edu-outline-fade);
}

.m-dropzone {
  position: relative;
  border-radius: @edu-border-radius-base;
  border: 1px dashed @edu-border-color-active;
  background-color: @edu-background-color-light;
}

.m-dropzone-active {
  border-style: solid;
  border-radius: @edu-border-radius-base;
  .m-border-glow-success;

  &::after {
    content: '';
    .m-mask;
    opacity: 0.6;
    position: absolute;
    border-radius: @edu-border-radius-base;
    background-color: @edu-background-color-light;
  }
}

.m-dropzone-error {
  border-style: solid;
  border-radius: @edu-border-radius-base;
  .m-border-glow-error;
}

.m-info-card {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  padding: @edu-content-padding;
  color: lighten(@edu-text-color, 5%);
  border-radius: @edu-border-radius-base;
  background-color: lighten(@edu-primary-color-light, 35%);
}

.m-section-headline {
  margin: 30px 0 15px 0;
  color: @edu-text-color;
  font-weight: bold;
  font-size: @edu-heading-4-size;

  &:first-of-type {
    margin-top: 0;
  }
}

.m-content-headline {
  font-size: @edu-heading-4-size;
  font-weight: bold;
  margin-bottom: 20px;
}

.m-section-content {
  padding: @edu-content-padding 0;
}

.m-fake-flex-gap(@gap) {
  margin-top: -@gap;
  margin-left: -@gap;

  & > * {
    margin-top: @gap;
    margin-left: @gap;
  }
}

.m-card {
  width: 255px;
  min-height: 255px;
}

.m-row-card(@countPerRow) {
  .ant-card-head {
    padding: 0 @edu-content-padding !important;
  }

  .ant-card-body {
    padding: @edu-content-padding !important;
  }

  .ant-card-actions > * {
    display: flex;
    align-items: centerce;
    justify-content: center;
  }

  width: ((@edu-content-width-wide - ((@countPerRow - 1) * 25px) - 2 * @edu-page-content-padding) / @countPerRow);
}

.m-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  .m-fake-flex-gap(25px);

  @media @edu-media-phone {
    align-items: center;
    flex-direction: column;
    .m-fake-flex-gap(15px);
  }
}

.m-card-wrapper-wide {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;

  @media @edu-media-phone {
    gap: 15px;
    grid-template-columns: auto;
  }
}

.m-control-group {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: @edu-control-spacing-base;
}

.m-control-group-wide {
  .m-control-group;
  gap: @edu-control-spacing-wide;
}

.m-markdown-button {
  cursor: pointer;
  padding: 3px 9px;
  opacity: 0.45;
  border-radius: 5px;
  color: @edu-text-color;
  transition: all 300ms ease;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    transition: all 300ms ease;
  }
}

.m-markdown-button-small {
  .m-markdown-button;
  font-size: @edu-font-size-sm;
  padding: 1px 4px;
  border-radius: 2px;
}

.m-markdown-button-disabled {

  &:hover,
  &:active,
  &:focus {
    opacity: 0.45;
    cursor: not-allowed;
  }
}

.m-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.m-link(@color: @edu-link-color) {
  color: @color;
  text-decoration: underline;

  &:hover,
  &:active,
  &:visited {
    color: @color;
    text-decoration: none;
  }
}

.m-video-play-icon {
  .m-box-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: @edu-white;
  border-radius: 50%;
  opacity: 0.9;
}

.m-video-play-overlay {
  .m-mask;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.m-user-form-title {
  text-align: center;
  margin-bottom: 32px;
}

.m-user-form-submit-button {
  margin-top: @edu-control-height-base;
}

.m-plugin-media-preview {
  padding: @edu-content-padding;
  margin: -@edu-content-padding;
  margin-bottom: 40px;
  background-color: @edu-background-color-light;
  border-bottom: 1px solid @edu-border-color-base;
  border-top: none;
}

.m-plugin-media-preview-label {
  display: flex;
  justify-content: flex-end;
  font-style: italic;
  font-size: @edu-font-size-sm;
  padding-bottom: 5px;
}

.m-homepage-section {
  display: grid;
  grid-auto-flow: row;
  gap: 50px;
  place-items: center
}

.m-homepage-headline {
  font-weight: 300;
  text-align: center;
  font-size: @edu-heading-1-size;
  line-height: 160%;
}

.m-homepage-description {
  max-width: @edu-content-width-narrow;
  line-height: 160%;
  text-align: center;
}

.m-data-unavailable {
  cursor: default;
  font-style: italic;
  pointer-events: none;
  color: @edu-text-color-secondary;
}
