.m-content {
  padding: @edu-content-padding;
}

.m-fullscreen {
  padding-bottom: 20vh;
}

.m-content-fullscreen {
  .m-content;
  .m-fullscreen
}

.m-icon-button {
  &.ant-btn > span:not([role="img"]) {
    @media @edu-media-phone {
      display: none;
    }
  }
}

.m-grouped-button {
  margin-right: @edu-button-spacing;

  &:last-child {
    margin-right: 0;
  }
}
