.m-content {
  padding: @edu-content-padding;
}

.m-fullscreen {
  padding-bottom: 20vh;
}

.m-content-fullscreen {
  .m-content;
  .m-fullscreen
}

.m-icon-button {
  &.ant-btn > span:not([role="img"]) {
    @media @edu-media-phone {
      display: none;
    }
  }
}

.m-no-spinner-background {
  &::before {
    display: none !important;
  }
}

.m-grouped-button {
  margin-right: @edu-button-spacing;

  &:last-child {
    margin-right: 0;
  }
}

.m-hide-browser-keyboard-focus {
  outline: none !important; // Removes user agent black border when focused by keyboard
}

.m-selected-item {
  color: @edu-primary-color;
  border-color: @edu-primary-color;
  background-color: @edu-selection-background-color;
}

.m-selected-item-focused {
  .m-selected-item();
  box-shadow: 0 0 0 @edu-border-radius-base @edu-selection-background-color;
}

// Mixin for Antd Collapse components to remove left indentation and paddings:
.m-antd-collapse-without-padding {
  & > .ant-collapse-item > .ant-collapse-header {
    padding: 0;
  }

  & > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    padding: @edu-content-padding 0 0 0;
  }
}
