.MultitrackMediaPlayer {
  position: relative;

  &.MultitrackMediaPlayer--noScreen {
    .m-media-player-no-screen;
  }
}

.MultitrackMediaPlayer-overlay {
  .m-mask;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: fade(@edu-background-color-light, 80%);

  &.MultitrackMediaPlayer-overlay--bordered {
    border: 1px solid @edu-border-color-base;
    border-radius: @edu-border-radius-base;
  }
}

.MultitrackMediaPlayer-errorMessage {
  text-align: center;
  color: @edu-error-color;
}

.MultitrackMediaPlayer-trackMixerDisplay {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid darken(@edu-background-color-base, 10%);
}
