.Panel {
  background-color: @edu-background-color-light;
  border: 1px solid @edu-border-color-dark;
  border-radius: @edu-border-radius-base;
  width: 100%;
  margin: 0;
}

.Panel-content {
  background-color: @edu-white;
  border-radius: @edu-border-radius-base;
  background-color: inherit;
  position: relative;
  padding: 24px;

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
