@panel-background-color: @grey-2;
@panel-proposed-background-color: @blue-1;
@panel-border-color: @grey-5;
@panel-proposed-border-color: @blue-5;
@panel-content-background-color: @grey-1;
@panel-content-overlay-background-color: fade(white, 50%);

.Panel {
  background-color: @panel-background-color;
  border: 1px solid @panel-border-color;
  border-radius: 4px;
  width: 100%;
  margin: 0;
  transition: border-color 0.5s ease-in-out;

  &.is-highlighted {
    border-color: @edu-primary-color-light;
  }

  &.is-invalid {
    border-color: @edu-error-color;
  }

  &.is-proposed {
    background-color: @panel-proposed-background-color;
    border-color: @panel-proposed-border-color;
    border-style: dotted;
  }
}

.Panel-content {
  background-color: @panel-content-background-color;
  position: relative;
  padding: 24px;

  &.Panel-content--darker {
    background-color: inherit;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.Panel-contentOverlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: not-allowed;
  background-color: @panel-content-overlay-background-color;
}

.Panel-header {
  border-bottom: 1px solid @panel-border-color;
  padding: 12px 24px;
}

.Panel-footer {
  border-top: 1px solid @panel-border-color;
  padding: 12px 24px;
}
