.Section {
  margin: (0 - 1px) -(@global-section-padding-large-screen + 1px);
  position: relative;
  border: 1px dashed transparent;
  padding: @global-section-padding-large-screen;

  &.is-active {
    border-color: @grey-7;
  }
}

.Section-actions {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;

  &.is-active {
    display: block;
  }
}
