// Pure CSS class because it is used by
// * src/components/pages/edit-doc.jsx
// * src/components/section-display.jsx

@section-min-height: 36px;
@active-section-border-width: 1px;
@active-section-border-color: @grey-7;

.Section {
  border: none;
  position: relative;
  padding: @global-content-padding;
  min-height: @section-min-height;

  &.is-active {
    padding: @global-content-padding - @active-section-border-width;
    border: @active-section-border-width dashed @active-section-border-color;
  }
}

.Section-actions {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;

  &.is-active {
    display: block;
  }
}
