.Tabs {
  padding-top: 50px !important;

  &.Tabs--smallPadding {
    padding-top: 20px !important;
  }

  &.Tabs--noPadding {
    padding-top: 0 !important;
  }

  &.Tabs--withIcons {
    .anticon {
      margin-right: 8px !important;
    }
  }
}

.Tabs-tabPane {
  padding-top: 30px;
}
