@tag-gap: 5px;
@tag-font-size: 12px;
@tag-padding: 3px 16px;
@tag-border-radius: 22px;

.Tag {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: @tag-padding;
  border-radius: @tag-border-radius;
  background-color: @edu-background-color-base;
  font-size: @tag-font-size;
  margin: 3px @tag-gap 3px 0;
  border: none;

  &:last-of-type {
    margin-right: 0;
  }

  &.Tag--selected {
    color: @edu-white;
    background-color: @edu-primary-color-light;

    & > .ant-tag-close-icon {
      color: @edu-white;
    }
  }
}
