@tag-text-vertical-padding: 3px;

.Tag {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: @tag-text-vertical-padding 16px;
  border-radius: 22px;
  background-color: @edu-background-color-base;
  font-size: 12px;
  margin: 3px 5px 3px 0;
  border: none;

  &:last-of-type {
    margin-right: 0;
  }

  &.Tag--selected {
    color: @edu-white;
    background-color: @edu-primary-color-light;

    & > .ant-tag-close-icon {
      color: @edu-white;
    }
  }
}
