.u-width-loop (@i) when (@i <=100) {
  .u-width-@{i} {
    width: ~ "@{i}%" !important;

    @media @edu-media-phone {
      width: 100% !important;
    }
  }

  .u-width-loop(@i + 1);
}

.u-width-loop (0);

.u-img-color-flip {
  filter: grayscale(100%);
  transition: all .2s ease-in-out;

  &:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
}

.u-img-color-flip-hover-disabled {
  filter: grayscale(100%);
}

.u-danger {
  color: @edu-error-color;
}

.u-hidden {
  visibility: hidden;
}

.u-input-and-button {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  gap: @edu-control-spacing-base;

  .ant-select-in-form-item {
    // Prevent dropdowns taking 100% of the space:
    overflow-x: hidden;
  }
}

.u-can-drop {
  .m-border-glow-success;
}

.u-cannot-drop {
  .m-border-glow-error;
}

.u-dropdown-icon {
  margin-right: 8px;
}

.u-info-icon {
  color: @edu-secondary-color-dark;
  margin: 0 @edu-control-spacing-base;
}
