@iterations: 0;
.u-max-width-loop (@i) when (@i <= 100) {
  .u-max-width-@{i} {
    max-width: ~"@{i}%" !important;
  }
  .u-max-width-loop(@i + 1);
}
.u-max-width-loop (@iterations);

@iterations: 0;
.u-width-loop (@i) when (@i <= 100) {
  .u-width-@{i} {
    width: ~"@{i}%" !important;
  }
  .u-width-loop(@i + 1);
}
.u-width-loop (@iterations);

.u-img-color-flip {
  filter: grayscale(100%);
  transition: all .2s ease-in-out;
}

.u-img-color-flip:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.u-danger {
  color: @edu-error-color;
}
