.DashboardHelpLinksSettings {}

.DashboardHelpLinksSettings-languageRow {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: @edu-control-spacing-wide;
  margin-bottom: 2 * @edu-control-spacing-wide;

  &:last-of-type {
    margin-bottom: 0;
  }
}
