.HomepagePresentationSettings {
  display: grid;
  gap: 40px;
  grid-auto-flow: rows;
}

.HomepagePresentationSettings-group {}

.HomepagePresentationSettings-groupLanguage {
  margin-bottom: 15px;
}
