.RolesSelect {

  &.RolesSelect--block {
    display: block;
    width: fit-content;
    .m-control-border-base;
    padding: @edu-control-spacing-base;
    background-color: @edu-background-color-light;

    & > .ant-tag:last-child {
      margin-right: 0 !important;
    }
  }

  &.RolesSelect--inline {
    display: inline-block;
  }
}
