.TechnicalMaintenanceTab {}

.TechnicalMaintenanceTab-tabInfo {
  .m-info-card;
}

.TechnicalMaintenanceTab-section {
  margin: 50px 0;
}

.TechnicalMaintenanceTab-sectionHeader {
  margin-bottom: 10px;
  font-weight: bold;
}

.TechnicalMaintenanceTab-sectionDescription {
  padding-bottom: 15px;
}

.TechnicalMaintenanceTab-button {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.TechnicalMaintenanceTab-buttonSubtext {
  font-size: @edu-font-size-sm;
  margin-top: 5px;
}
