.TechnicalMaintenanceTab {}

.TechnicalMaintenanceTab-section:not(:last-child) {
  margin-bottom: 75px;
}

.TechnicalMaintenanceTab-sectionHeader {
  margin-bottom: 5px;
  font-weight: bold;
}

.TechnicalMaintenanceTab-sectionInfo {
  margin-bottom: 25px;
  font-size: @edu-font-size-sm;
}

.TechnicalMaintenanceTab-sectionInfoIcon {
  padding-right: 8px;
  color: @edu-warning-color;
  font-size: @edu-font-size-base;
}

.TechnicalMaintenanceTab-sectionDescription {
  padding-bottom: 15px;
}

.TechnicalMaintenanceTab-button {
  display: flex;
  align-items: end;
  flex-direction: column;
}

.TechnicalMaintenanceTab-buttonSubtext {
  font-size: @edu-font-size-sm;
  margin-top: 5px;
}
