.BatchesPage {}

.BatchesPage-batchInfo {
  margin-bottom: 20px;
}

.BatchesPage-batchErrorsList {
  margin-bottom: 20px;
}

.BatchesPage-warningIcon {
  color: @edu-warning-color
}

.BatchesPage-errorIcon {
  color: @edu-error-color;
}

.BatchesPage-successIcon {
  color: @edu-success-color;
}

