.BrowserNotSupported {}

.BrowserNotSupported-headerContainer { 
  display: flex;
  width: 100%; 
  justify-content: center 
}

.BrowserNotSupported-mainContainer { 
  display: flex;
  width: 100%; 
  justify-content: center 
}

.BrowserNotSupported-column {
  display: flex; 
  flex-direction: column;
}
