.CompleteRegistrationPage {
  padding: @global-content-padding @global-content-padding 20vh @global-content-padding;
}

.CompleteRegistrationPage-title {
  text-align: center;
  margin-bottom: 32px;
}
