.CompletePasswordResetPage {
  padding: @global-content-padding @global-content-padding 20vh @global-content-padding;
}

.CompletePasswordResetPage-title {
  text-align: center;
  margin-bottom: 32px;
}
