.ConnectExternalAccountPage {}

.ConnectExternalAccountPage-choicesView {
  .m-medium-fullscreen-page-content;
}

.ConnectExternalAccountPage-loginView {
  .m-narrow-fullscreen-page-content;
  padding-bottom: 120px;
}

.ConnectExternalAccountPage-registerView {
  .m-narrow-fullscreen-page-content;
}

.ConnectExternalAccountPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.ConnectExternalAccountPage-viewTitle {
  text-align: center;
  margin-bottom: 32px;
}

.ConnectExternalAccountPage-description {
  margin-bottom: 32px;
}

.ConnectExternalAccountPage-choices {
  display: grid;
  grid-auto-flow: row;
  gap: @edu-control-spacing-wide;
  margin-bottom: 32px;
}

.ConnectExternalAccountPage-backButton {
  margin-top: @edu-control-spacing-wide;
}
