.CreateImportPage {}

.CreateImportPage-source {
  min-width: 280px;
}

.CreateImportPage-input {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-top: (@edu-content-padding * 2);
}

.CreateImportPage-importButton {
  margin: 5px 0 (@edu-content-padding * 2) 0;
}
