.DashboardPage {
  margin-top: 75px;
}

.DashboardPage-contentHeader {
  position: absolute;
  left: 0;
  height: 140px;
  width: 100%;
  background:
    url('./images/homepage-hero-right.svg') right top no-repeat,
    url('./images/homepage-hero-left.svg') left top no-repeat;
  background-color: @edu-primary-color-light;
  z-index: @edu-z-index-background-layer
}

.DashboardPage-profile {
  display: grid;
  gap: 20px;
  align-items: start;
  justify-content: start;
  grid-auto-flow: column;

  @media @edu-media-phone {
    gap: 10px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}

.DashboardPage-profileAvatar {
  padding: 10px;
  border-radius: 50%;
  background-color: @edu-white;
}

.DashboardPage-profileInfo {
  margin-top: 55px;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;

  @media @edu-media-phone {
    margin-top: 0;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
  }
}


.DashboardPage-tabHelp {
  height: 20px;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  font-size: @edu-font-size-sm;
}
