.DashboardPage {}

.DashboardPage-tabInfo {
  .m-info-card;
}

.DashboardPage-storageTabTitle {
  .m-section-headline;
}

.DashboardPage-storageTabContent {
  .m-section-content-narrow;
}

.DashboardPage-storageTabPlanName {
  display: block;
  margin-bottom: 10px;
}

.DashboardPage-storageTabUsedStorage {
  width: 100%;
  display: flex;
  align-items: baseline;
}
