.DocPage {}

.DocPage-controlPanels {
  position: sticky;
  bottom: 0;
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  z-index: @edu-z-index-overlay-layer;

  &.is-panel-open {
    margin: 0;
  }
}

.DocPage-controlPanelsItem {
  margin-left: @edu-control-spacing-base;

  &.is-open {
    margin-left: 0;
  }
}

.DocPage-commentsSection {
  margin: 60px 0;
}

.DocPage-commentsSectionHeader {
  font-size: @edu-heading-5-size;
  font-weight: bold;
  margin-bottom: 20px;
}

.DocPage-comment {
  margin: @edu-content-padding;
  margin-bottom: 3 * @edu-content-padding;

  &:last-of-type {
    margin-bottom: @edu-content-padding;
  }
}

.DocPage-commentMetadata {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.DocPage-commentAuthor {
  font-weight: bold;
}

.DocPage-commentDate {
  font-style: italic;
}

.DocPage-commentText {
  margin: 5px;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  background-color: lighten(@edu-primary-color-light, 42%);
}
