.DocsPage {}

.DocsPage-controls {
  margin-bottom: 20px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 2fr 1fr;

  @media @edu-media-phone {
    row-gap: 15px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.DocsPage-filter {
  width: 100%;
}

.DocsPage-actions {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 5px;
}

.DocsPage-action {
  .m-box-shadow;
  background-color: @edu-white;
  width: @edu-control-height-sm;
  height: @edu-control-height-sm;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 90%;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &.DocsPage-action--clone {
    color: @edu-text-color;

    &:hover,
    &:active {
      color: @edu-text-color;
    }
  }

  &.DocsPage-action--delete {
    color: @edu-error-color;

    &:hover,
    &:active {
      color: @edu-error-color;
    }
  }
}

.DocsPage-newDocumentButton {
  margin-top: 10px;
}
