.DocsPage {
  .m-content;
}

.DocsPage-search {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.DocsPage-searchField {
  max-width: 360px;
}

.DocsPage-newDocumentButton {
  margin-top: 10px;
}
