.DocsPage {}

.DocsPage-controls {
  margin-bottom: 20px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 2fr 1fr;

  @media @edu-media-phone {
    row-gap: 15px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.DocsPage-filter {
  width: 100%;
}

.DocsPage-actions {
  text-align: center;
}

.DocsPage-newDocumentButton {
  margin-top: 10px;
}
