.DocumentCategoryPage {}

.DocumentCategoryPage-header {
  margin: 0 auto;
  width: fit-content;
}

.DocumentCategoryPage-content {
  text-align: center;
}

.DocumentCategoryPage-section {
  margin: 60px 0;
}

.DocumentCategoryPage-sectionHeadline {
  .m-section-headline;
  font-weight: bold;
  text-align: center;
}

.DocumentCategoryPage-document {
  padding: 5px 0;
}

.DocumentCategoryPage-otherCategories {
  display: flex;
  justify-content: center;
  .m-fake-flex-gap(10px);
}
