@document-page-history-panel-width: 350px;
@document-page-history-panel-toggle-width: 25px;

.DocumentPage {
  display: grid;

  &.DocumentPage--historyView {
    grid-template-columns: 1fr @document-page-history-panel-width;
  }
}

.DocumentPage-historyPanel {
  position: fixed;
  right: 0;
  width: @document-page-history-panel-width;

  &.is-minimized {
    width: @document-page-history-panel-toggle-width;
  }
}

.DocumentPage-historyPanelContentWrapper {
  display: grid;
  height: inherit;
  grid-template-columns: auto 1fr;
}

.DocumentPage-historyPanelContent {
  .m-box-shadow;
  overflow: auto;
  background-color: @edu-white;
  border-left: 1px solid @edu-border-color-base;

}

.DocumentPage-historyPanelContentToggle {
  cursor: pointer;
  margin-top: 10px;
  height: 30px;
  width: @document-page-history-panel-toggle-width;
  display: flex;
  justify-content: center;
  border-right: none;
  background-color: @edu-white;
  border: 1px solid @edu-border-color-base;
  border-top-left-radius: @edu-border-radius-base;
  border-bottom-left-radius: @edu-border-radius-base;
  z-index: @edu-z-index-sticky-content-layer;
}

.DocumentPage-commentsSection {
  margin: 60px 0;
}

.DocumentPage-commentsSectionHeader {
  .m-content-headline;
}

.DocumentPage-verifiedBadge {
  display: flex;
  position: fixed;
  font-size: 23px;
  justify-content: center;
  width: @edu-control-height-lg;
  height: @edu-control-height-lg;
  color: @edu-primary-color-light;
  background-color: @edu-white;
  border-radius: @edu-border-radius-base;
}

.DocumentPage-actionsPanelWrapper {
  & > * {
    height: fit-content;
  }

  button {
    &:disabled {
      cursor: not-allowed;

      &:hover > * {
        background-color: transparent !important;
      }

      .anticon {
        color: @edu-text-color-secondary;
      }
    }
  }
}

.DocumentPage-focusHeaderButton {
  .m-icon-button;
}

.DocumentPage-focusHeaderDirtyInfo {
  display: flex;
  align-items: center;

  @media @edu-media-phone-portrait {
    display: none;
  }
}

.DocumentPage-focusHeaderDirtyInfoText {
  font-size: @edu-font-size-sm;
  margin-left: @edu-control-spacing-base;
  margin-right: @edu-control-spacing-wide;
  font-style: italic;

  @media @edu-media-not-desktop {
    display: none;
  }
}

.DocumentPage-focusHeaderVersionHistoryInfo {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  margin-left: auto;
}
