@document-page-history-panel-width: 250px;

.DocumentPage {
  display: grid;

  &.DocumentPage--historyView {
    grid-template-columns: 1fr @document-page-history-panel-width;
  }
}

.DocumentPage-historyPanel {
  .m-box-shadow;
  position: fixed;
  right: 0;
  background-color: @edu-white;
  width: @document-page-history-panel-width;
  border-left: 1px solid @edu-border-color-base;
}

.DocumentPage-commentsSection {
  margin: 60px 0;
}

.DocumentPage-commentsSectionHeader {
  .m-content-headline;
}

.DocumentPage-verifiedBadge {
  display: flex;
  position: fixed;
  font-size: 23px;
  justify-content: center;
  width: @edu-control-height-lg;
  height: @edu-control-height-lg;
  color: @edu-primary-color-light;
  background-color: @edu-white;
  border-radius: @edu-border-radius-base;
}

.DocumentPage-actionsPanelWrapper {
  & > * {
    height: fit-content;
  }

  button {
    &:disabled {
      cursor: not-allowed;

      &:hover > * {
        background-color: transparent !important;
      }

      .anticon {
        color: @edu-text-color-secondary;
      }
    }
  }
}

.DocumentPage-focusHeaderButton {
  .m-icon-button;
}

.DocumentPage-focusHeaderDirtyInfo {
  display: flex;
  align-items: center;

  @media @edu-media-phone-portrait {
    display: none;
  }
}

.DocumentPage-focusHeaderDirtyInfoText {
  font-size: @edu-font-size-sm;
  margin-left: @edu-control-spacing-base;
  margin-right: @edu-control-spacing-wide;
  font-style: italic;

  @media @edu-media-not-desktop {
    display: none;
  }
}
