.DocumentCategoryPage {}

.DocumentCategoryPage-temporaryBadge {
  color: @edu-primary-color-dark;
  border: 1px solid @edu-primary-color-dark;
  background-color: lighten(@edu-primary-color-light, 30%);
  border-radius: 5px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;

  &.DocumentCategoryPage-temporaryBadge--small {
    padding: 10px;
  }
}

.MaintenanceDocumentCategoriesTab-temporaryBadgeIcon {
  max-width: @edu-control-height-sm;
  max-height: @edu-control-height-sm;
}

.DocumentCategoryPage-content {
  text-align: center;
}

.DocumentCategoryPage-section {
  margin: 60px 0;
}

.DocumentCategoryPage-sectionHeadline {
  .m-section-headline;
  font-weight: bold;
  text-align: center;
}

.DocumentCategoryPage-document {
  padding: 5px 0;
}

.DocumentCategoryPage-otherCategories {
  display: flex;
  justify-content: center;
  .m-fake-flex-gap(10px);
}

.DocumentCategoryPage-otherCategoryLink {
  .m-link;
}
