.ErrorPage {}

.ErrorPage-buttons {
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: center;
}

.ErrorPage-errorDetails {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  margin-top: 100px;
  font-size: @edu-font-size-sm;
  font-family: @edu-code-family;
  line-height: @edu-line-height-base;
}
