.ImportBatchesPage {}

.ImportBatchesPage-header {
  margin-right: 20px
}

.ImportBatchesPage-sourceCollapse {
  margin-bottom: 40px;
}

.ImportBatchesPage-batchTablePanel {
  .ant-collapse-content-box {
    padding: 0;
  }
}
