.ImportsPage {}

.ImportsPage-header {
  margin-right: 20px
}

.ImportsPage-sourceCollapse {
  margin-bottom: 40px;
}

.ImportsPage-batchTablePanel {
  .ant-collapse-content-box {
    padding: 0;
  }
}
