.ImportBatchViewPage {
  .m-content;
}

.ImportBatchViewPage-tasksTable {
  margin-top: 20px;
}

.ImportBatchViewPage-warningIcon {
  color: @global-warning-color
}

.ImportBatchViewPage-failedIcon {
  color: @global-error-color;
}

.ImportBatchViewPage-doneIcon {
  color: @global-success-color;
}

