.ImportPage-sourceButton {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ImportPage-spinner {
  display: block;
  margin: 0 0 0 auto;
}

.ImportPage-importType {
  font-size: 20px;
}
