.ImportBatchViewPage {}

.ImportBatchViewPage-tasksTable {
  margin-top: 20px;
}

.ImportBatchViewPage-warningIcon {
  color: @edu-warning-color
}

.ImportBatchViewPage-failedIcon {
  color: @edu-error-color;
}

.ImportBatchViewPage-doneIcon {
  color: @edu-success-color;
}

