.IndexPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.IndexPage-content {
  width: 100%;
  max-width: 800px;
  padding-bottom: 20vh;
}

.IndexPage-title {
  font-family: 'Dancing Script';
  font-size: 72px;
  text-align: center;
  color: @global-elmu-blue;
  margin: 32px 0;
}

.IndexPage-search {
  margin: 32px 0;
}

.IndexPage-categories {
  margin: 64px 0 32px 0;
  display: flex;
  justify-content: space-between;
}

.IndexPage-category {
  flex: 0 0 20%;
}

.IndexPage-categoryLink {
  display: block;
}

.IndexPage-categoryImage {
  display: block;
  max-width: 100%;
}
