.IndexPage {
  margin-bottom: 32px;
}

.IndexPage-searches {
  .m-fake-flex-gap(5px);
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-top: 20px;
  padding: 0 10px;
}

.IndexPage-searchesLabel {
  color: @edu-text-color-secondary;
  margin-right: 10px;
}
