@index-page-help-button-shadow-color: @grey-8;
@index-page-help-button-hover-shadow-color: @global-elmu-blue;

.IndexPage {
  padding: @global-content-padding @global-content-padding 20vh @global-content-padding;
}

.IndexPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.IndexPage-search {
  margin-bottom: 32px;
}

.IndexPage-helpButton {
  box-shadow: @index-page-help-button-shadow-color 1px 1px 4px 0px;

  &:hover {
    box-shadow: @index-page-help-button-hover-shadow-color 1px 1px 4px 0px;
  }
}
