.LinkExternalAccountPage {}

.LinkExternalAccountPage-choicesView {
  .m-medium-fullscreen-page-content;
}

.LinkExternalAccountPage-loginView {
  .m-narrow-fullscreen-page-content;
  padding-bottom: 120px;
}

.LinkExternalAccountPage-registerView {
  .m-narrow-fullscreen-page-content;
}

.LinkExternalAccountPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.LinkExternalAccountPage-viewTitle {
  text-align: center;
  margin-bottom: 32px;
}

.LinkExternalAccountPage-description {
  margin-bottom: 32px;
}

.LinkExternalAccountPage-choices {
  display: grid;
  grid-auto-flow: row;
  gap: @edu-control-spacing-wide;
  margin-bottom: 32px;
}

.LinkExternalAccountPage-loginButton {
  margin-top: 38px;
}

.LinkExternalAccountPage-backButton {
  margin-top: @edu-control-spacing-wide;
}
