.LoginPage {}

.LoginPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.LoginPage-form {
  margin: 0 auto;
  max-width: 360px;
  padding-bottom: 120px;
}

.LoginPage-forgotPasswordLink {
  margin-top: 24px;
  text-align: right;
}

.LoginPage-logonButton {
  margin-top: 48px;
}
