.LoginPage {}

.LoginPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.LoginPage-form {
  .m-login-form;
  padding-bottom: 120px;
}

.LoginPage-forgotPasswordLink {
  margin-top: 24px;
  text-align: right;
}

.LoginPage-loginButton {
  margin-top: 38px;
}
