.MenuPage {
  .m-content;
}

.MenuPage-categoryList {
  list-style: none;
  padding: 0;
}

.MenuPage-linkList {
  list-style: none;
}

.MenuPage-linkListTitle {
  background-color: transparent;
  font-size: 100%;
  font-weight: bold;
  font-style: normal;
  margin: 20px 0;

  &.u-level-0 {
    font-size: 150%;
    font-weight: bold;
    font-style: normal;
  }

  &.u-level-1 {
    font-size: 115%;
    font-weight: bold;
    font-style: normal;
  }
}
