@menu-page-gutter-width: 20px;

.MenuPage {
  display: flex;
}

.MenuPage-categories {
  flex: 1 0 0%;
  padding-right: (@menu-page-gutter-width / 2);
  background-color: azure;
}

.MenuPage-details {
  flex: 3 0 0%;
  padding-left: (@menu-page-gutter-width / 2);
  background-color: yellow;
}
