.ProfilePage {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20vh;
}

.ProfilePage-title {
  font-family: 'Dancing Script';
  font-size: 72px;
  text-align: center;
  color: @global-elmu-blue;
  margin: 32px 0;
}

.ProfilePage-form {}
