.RedactionPage {}

.RedactionPage-documentsControls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.RedactionPage-documentsFilter {
  width: 100%;
}

.RedactionPage-documentBadges {
  .m-control-group;
}
