.ResetPasswordPage {
  padding-bottom: 150px;
}

.ResetPasswordPage-title {
  .m-user-form-title;
}

.ResetPasswordPage-form {
  .m-narrow-fullscreen-page-content;
}

.ResetPasswordPage-disclaimer {
  margin-top: 25px;
  display: flex;
  align-items: baseline;
}

.ResetPasswordPage-disclaimerText {
  text-align: center;
  font-size: @edu-font-size-sm;
  font-style: italic;
}

.ResetPasswordPage-disclaimerIcon {
  color: @edu-warning-color;
  font-size: @edu-font-size-base;
}
