.Room {
  .m-content;
}

.Room-description {
  margin-bottom: 40px;
}

.Room-lessonInfo {
  display: flex;
  padding: 10px 0;
}

.Room-lessonWeek {
  width: 150px;
}

.Room-newLessonButton {
  margin-top: 15px;
}

.Room-membersRow {
  display: flex;
  justify-content: space-between;
}

.Room-card {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }

  &.Room-card--danger {
    border-color: @red-7;
  }
}

.Room-cardButton {
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

.Room-cardDangerAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Room-cardDangerActionTitle {
  display: block;
  font-weight: bold;
}

.Room-cardDangerActionDescription {
  display: block;
}
