@room-date-label-width: 150px;

.Room {}

.Room-subtitle {
  display: flex;
  font-size: 13px;
}

.Room-subtitleIcon {
  padding-right: 8px;
}

.Room-description {
  margin-bottom: 50px;
}

.Room-lessonInfo {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

  &.is-highlighted {
    border: 1px solid fade(@edu-primary-color-light, 10%);
    background-color: fade(@edu-primary-color-light, 5%);
    border-left: none;
    border-right: none;
  }
}

.Room-lessonDeleteButton {
  margin-right: @edu-content-padding;
}

.Room-lessonStartsOn {
  flex: 0 1 @room-date-label-width;
}

.Room-lessonTitle {
  flex: 1 1 auto;
  padding-left: 15px;
}

.Room-lessonTimeUntil {
  flex: 0 1 auto;
  font-size: 13px;
  margin-left: auto;
  margin-right: 0;
  padding-left: 15px;
}

.Room-newLessonButton {
  margin-top: 15px;
}

.Room-membersRow {
  display: flex;
  justify-content: space-between;
}

.Room-membersRowDate {
  display: block;
  width: @room-date-label-width;
}

.Room-card {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }

  &.Room-card--danger {
    border-color: @edu-danger-color;
  }
}

.Room-cardButton {
  display: block;
  margin-left: 20px;
  margin-right: auto;
}

.Room-cardDangerAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Room-cardDangerActionTitle {
  display: block;
  font-weight: bold;
}

.Room-cardDangerActionDescription {
  display: block;
}

.Room-cardDangerActionButton {
  margin-left: @edu-content-padding;
}
