.RoomMembershipConfirmationPage {}

.RoomMembershipConfirmationPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.RoomMembershipConfirmationPage-message {
  display: grid;
  gap: 20px;
  grid-auto-flow: row;
  justify-items: center;
}
