@room-date-label-width: 150px;

.RoomPage {}

.RoomPage-title {
  display: flex;
  align-items: baseline;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.25em 0;
  border-bottom: 1px solid @edu-border-color-dark;
}

.RoomPage-titleText {
  flex: 1 0 0%;
  font-weight: bold;
  margin: 0 2.5em 0 0;
  color: @edu-text-color;
  font-size: @edu-heading-1-size;
}

.RoomPage-titleExtra {
  flex: none;
}

.RoomPage-subtitle {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  color: @edu-text-color-secondary;
  padding: 0 @edu-content-padding;
}

.RoomPage-leaveRoomLink {
  .m-control-group;
  padding-left: @edu-control-spacing-wide;
}

.RoomPage-description {
  margin-bottom: 50px;
}

.RoomPage-documentRow {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: @edu-control-spacing-wide;
  padding: 10px;
  border-radius: @edu-border-radius-base;

  &:hover {
    background-color: @edu-background-color-light;
  }
}

.RoomPage-documentRowTitle {
  .m-overflow-ellipsis;
  padding-right: 10px;
}

.RoomPage-documentRowMenu {
  display: flex;
  align-items: center;
}

.RoomPage-documentRowDraftLabel {
  background-color: @edu-background-color-base;
  border-radius: @edu-border-radius-base;
  margin-right: 10px;
  padding: 2px 8px;
  font-size: 13px;
  font-style: italic;
}

.RoomPage-membersRow {
  display: flex;
  justify-content: space-between;
}

.RoomPage-membersRowDate {
  display: block;
  width: @room-date-label-width;
}

.RoomPage-card {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }

  &.RoomPage-card--danger {
    border-color: @edu-error-color;
  }
}

.RoomPage-cardButton {
  display: block;
  margin-left: 20px;
  margin-right: auto;
}

.RoomPage-cardDangerAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.RoomPage-cardDangerActionTitle {
  display: block;
  font-weight: bold;
}

.RoomPage-cardDangerActionDescription {
  display: block;
}

.RoomPage-cardDangerActionButtonContainer {
  margin-left: @edu-content-padding;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
