.RoomMembershipConfirmationPage {
  .m-content-fullscreen;
}

.RoomMembershipConfirmationPage-title {
  text-align: center;
  margin-bottom: 32px;
}

.RoomMembershipConfirmationPage-message {
  text-align: center;
}

.RoomMembershipConfirmationPage-disclaimer {
  color: @edu-error-color;
  font-weight: bold;
}
