.SearchPage {}

.SearchPage-searchHeader {
  margin: 25px 0;
  max-width: 600px;
}

.SearchPage-searchFilter {
  display: block;
  width: 50%;
  margin: 25px 0 25px auto;
}

.SearchPage-placeholder {
  display: flex;
  justify-content: space-between;
}

.SearchPage-placeholderIcon {
    align-self: center
}
