.SettingsPage {
  .m-content;
}

.SettingsPage-sectionHeader {
  margin-top: 48px;
}

.SettingsPage-section {
  &.SettingsPage-section--announcement {
    height: 90px;
  }
}

.SettingsPage-announcementPreview {
  display: block;
  margin-top: 5px;
}

.SettingsPage-createDocumentRegenerationBatchButton {
  background: @edu-error-color;
}
