.SettingsPage {
  .m-content;
}

.SettingsPage-formItem {
  display: flex;
}

.SettingsPage-formItemLabel {
  flex: none;
  margin-right: 25px;
}

.SettingsPage-formItemInput {
  flex: 1 0 0%;
}

.SettingsPage-submitButton {
  margin-top: 25px;
  text-align: right;
}
