.SettingsPage {
  .m-content;
}

.SettingsPage-sectionHeader {
  margin-top: 48px;
}

.SettingsPage-section {
  &.SettingsPage-section--announcement {
    height: 90px;
  }
}

.SettingsPage-announcementPreview {
  display: block;
  margin-top: 5px;
}

.SettingsPage-createDocumentRegenerationBatchButton {
  background: @red-5;
}

.SettingsPage-homepageInfo {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.SettingsPage-homepageInfoPreview {
  border: 1px solid @grey-5;
  padding: 4px 11px;
  min-height: 100px;
}
