.UsersPage {}

.UsersPage-filter {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.UsersPage-storagePlanSelect {
  width: 100%;
}

.UsersPage-storagePlanOption {}

.UsersPage-storagePlanOptionSize {
  font-size: 75%;
}

.UsersPage-reminders {
  margin: 0;
  padding: 0;
  list-style: none;
}

.UsersPage-actions {}

.UsersPage-actionButton {
  display: block;
  padding: 0;
}
