.UsersPage {}

.UsersPage-storagePlanSelect {
  width: 100%;
}

.UsersPage-storagePlanOption {}

.UsersPage-storagePlanOptionSize {
  font-size: 75%;
}

.UsersPage-reminders {
  margin: 0;
  padding: 0;
  list-style: none;
}

.UsersPage-actions {}

.UsersPage-actionButton {
  display: block;
  padding: 0;
}
