.UserPage {}

.UserPage-header {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.UserPage-headerProfile {
  flex: 1 1 auto;
}

.UserPage-headerStart {
  flex: 0 0 0%;
}

.UserPage-introduction {
  margin: 0 auto;
  max-width: 600px;

  @media @edu-media-phone {
    max-width: none;
  }
}

.UserPage-accountClosed {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
