.UserPage {}

.UserPage-header {
  margin-bottom: 50px;
}

.UserPage-introduction {
  margin: 0 auto;
  max-width: 600px;

  @media @edu-media-phone {
    max-width: none;
  }
}

.UserPage-accountClosed {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
