.ChapterSelector {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.ChapterSelector-title {
  .m-overflow-ellipsis;
  width: 200px;
  padding: 0 5px;
  user-select: none;
  text-align: center;
}

.ChapterSelector-arrow {
  color: @edu-white;
  display: flex;
  align-items: center;
  justify-content: center;

  &.ant-btn {
    background-color: @edu-primary-color-light;

    &:hover,
    &:focus,
    &:active {
      color: @edu-white;
      background-color: lighten(@edu-primary-color-light, 5%);
    }
  }

  & > button:disabled {
    color: @edu-white;
    background-color: @edu-background-color-base;
  }
}
