.Html5Player {
  position: relative;
  height: 100%;

  .plyr {
    min-width: 50px;

    video {
      position: initial;
    }
  }
}

.Html5Player-posterImage {
  .m-mask;
  background-position: center;
  background-size: cover;
}

.Html5Player-playOverlay {
  .m-video-play-overlay;
}

.Html5Player-playOverlayIcon {
  .m-video-play-icon;
}
