.MediaRangeSelector {}

.MediaRangeSelector-noMediaArea {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MediaRangeSelector-rangeSelectorArea {
  padding: 15px 0 5px 0;
}

.MediaRangeSelector-rangeDisplay {
  text-align: center;
}
