.MediaRangeSelector {}

.MediaRangeSelector-noMediaArea {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MediaRangeSelector-rangeSelectorArea {
  padding: 15px 0 5px 0;
}

.MediaRangeSelector-rangeDisplay {
  text-align: center;
  padding-bottom: 25px;
}

.MediaRangeSelector-rangeSelector {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.MediaRangeSelector-rangeSelectorLabel {
  margin-right: 15px;
}

.MediaRangeSelector-rangeSelectorButtons {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.MediaRangeSelector-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
