.MediaPlayerControls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &.MediaPlayerControls--noScreen {
    .ant-slider .ant-slider-rail {
      .ant-slider-rail {
        background-color: darken(@edu-background-color-base, 5%);
      }

      &:hover {
        .ant-slider-rail {
          background-color: darken(@edu-background-color-base, 20%);
        }
      }
    }
  }
}

.MediaPlayerControls-playbackRate {
  font-size: 12px;
}

.MediaPlayerControls-playbackRateItem {
  .m-control-group;
}

.MediaPlayerControls-playbackRateItemSelection {
  width: 10px;
  font-size: 12px;
  line-height: 12px;
}

.MediaPlayerControls-controlsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.MediaPlayerControls-volumeControls {
  margin-right: 15px;

  @media @edu-media-phone-portrait {
    display: none;
  }
}

.MediaPlayerControls-progressBar {
  height: 35px;

  .ant-slider-mark-text {
    font-size: 11px;
  }
}

.MediaPlayerControls-timeDisplay {
  padding: 0 6px;
}
