.MediaVolumeSlider {
  display: flex;
  align-items: center;

  &.MediaVolumeSlider--horizontal {
    flex-direction: row;
  }

  &.MediaVolumeSlider--vertical {
    flex-direction: column-reverse;
  }
}

.MediaVolumeSlider-slider {

  &.MediaVolumeSlider-slider--horizontal {
    width: 60px;
  }

  &.MediaVolumeSlider-slider--vertical {
    height: 60px;
  }
}

.MediaVolumeSlider-sliderValueLabel {
  width: 50px;
  display: flex;
  justify-content: flex-end;
}
