@import (less) 'plyr/dist/plyr.css';

.MediaPlayer {
  position: relative;

  &.MediaPlayer--noScreen {
    .m-media-player-no-screen;
  }

  &.MediaPlayer--hidden {
    padding: 0;
    height: 0;
  }

  &.is-fullscreen {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    background-color: @edu-black;
  }
}

.MediaPlayer-player {
  position: relative;

  --plyr-video-background: transparent;
  cursor: pointer;
  margin: 0 auto;

  &.MediaPlayer-player--noScreen {
    height: 0;

    iframe {
      width: 0;
      height: 0;
    }
  }

  &.MediaPlayer-player--sixteenToNine {
    aspect-ratio: 16/9;
  }

  &.MediaPlayer-player--fourToThree {
    aspect-ratio: 4/3;
  }
}

.MediaPlayer-underPlayerContent {
  &.is-fullscreen {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    height: 20px;
    padding: 5px 15px;
    background-color: @edu-white;

    &:hover {
      height: auto;
      opacity: 1;
      transition: all 300ms ease;
    }
  }
}

.MediaPlayer-playerCustomScreenOverlay {
  .m-mask;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MediaPlayer-playerAudioScreenOverlay {
  .m-mask;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  background-color: @edu-white;
  color: @edu-text-color-secondary;

  @media @edu-media-phone {
    font-size: 50px;
  }
}
