.MediaPlayerTrackMixer {}

.MediaPlayerTrackMixer-tracks {
  display: flex;
  flex-wrap: wrap;
  .m-fake-flex-gap(10px);
}

.MediaPlayerTrackMixer-track {
  width: 60px;
  user-select: none;
}

.MediaPlayerTrackMixer-trackVolume {}

.MediaPlayerTrackMixer-trackName {
  display: block;
  font-size: 75%;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MediaPlayerTrackMixer-trackSolo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.MediaPlayerTrackMixer-volumePreset {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.MediaPlayerTrackMixer-volumePresetSelector {
  text-decoration: underline;
  max-width: 200px;
}
