.MediaRangeSelector {}

.MediaRangeSelector-player {
  padding: 15px 20px 10px 20px;
  background-color: @edu-background-color-light;
}

.MediaRangeSelector-noMediaArea {
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MediaRangeSelector-rangeSelectorArea {
  padding: @edu-content-padding * 2 0 @edu-content-padding 0;
}

.MediaRangeSelector-rangeSelector {
  display: grid;
  gap: 15px;
  align-items: baseline;
  place-content: center;
  grid-auto-flow: column;

  @media @edu-media-phone-portrait {
    grid-auto-flow: row;
  }
}

.MediaRangeSelector-rangeSelectorButtons {
  display: flex;
  flex-wrap: wrap;
  .m-fake-flex-gap(10px);
}

.MediaRangeSelector-rangeFineTunning {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: @edu-content-padding;
  place-content: center;
}

.MediaRangeSelector-selectedTimecodesColumn {
  display: grid;
  grid-auto-flow: row;
  gap: @edu-content-padding;
}

.MediaRangeSelector-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.MediaRangeSelector-footerGroup {
  display: flex;
  .m-fake-flex-gap(10px);
  padding-top: 10px;
}
