.MediaPlayerTrackMixer {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

.MediaPlayerTrackMixer-track {
  width: 60px;
  user-select: none;
}

.MediaPlayerTrackMixer-trackVolume {}

.MediaPlayerTrackMixer-trackName {
  display: block;
  font-size: 75%;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
