@edu-progress-bar-height: 8px;
@edu-progress-bar-vertical-padding: 1px;
@edu-progress-bar-tooltip-text-height: 20px;
@edu-progress-bar-tooltip-arrow-size: 5px;
@edu-progress-bar-tooltip-height: @edu-progress-bar-tooltip-text-height + @edu-progress-bar-tooltip-arrow-size;
@edu-progress-bar-hover-height: @edu-progress-bar-height + 2 * @edu-progress-bar-vertical-padding;

.MediaPlayerProgressBar {
  position: relative;
  width: 100%;
  margin: 20px 0 30px 0;
  height: @edu-progress-bar-height;
  padding: @edu-progress-bar-vertical-padding 0;

  &.is-enabled {
    &:hover {
      cursor: pointer;
      padding: 0;

      & .MediaPlayerProgressBar-baseBar,
      & .MediaPlayerProgressBar-progress,
      & .MediaPlayerProgressBar-mark {
        height: @edu-progress-bar-hover-height;
        padding: 0;
        top: 0;
      }
    }
  }
}

.MediaPlayerProgressBar-baseBar {
  width: 100%;
  height: @edu-progress-bar-height;
  padding: @edu-progress-bar-vertical-padding 0;
  background-color: @edu-background-color-base;
}

.MediaPlayerProgressBar-progress {
  position: absolute;
  top: @edu-progress-bar-vertical-padding;
  left: 0;
  height: @edu-progress-bar-height;
  background-color: lighten(@edu-primary-color-light, 25%);
}

.MediaPlayerProgressBar-interractionOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: @edu-progress-bar-hover-height;
}

.MediaPlayerProgressBar-progressTooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: @edu-z-index-overlay-layer;
  top: -@edu-progress-bar-tooltip-height - 10px;
}

.MediaPlayerProgressBar-progressTooltipText {
  font-size: @edu-font-size-sm;
  padding: 4px 8px;
  color: @edu-white;
  border-radius: @edu-border-radius-base;
  background-color: @edu-tooltip-background-color;
}

.MediaPlayerProgressBar-progressTooltipArrow {
  border-left: @edu-progress-bar-tooltip-arrow-size solid transparent;
  border-right: @edu-progress-bar-tooltip-arrow-size solid transparent;
  border-top: @edu-progress-bar-tooltip-arrow-size solid @edu-tooltip-background-color;
}

.MediaPlayerProgressBar-mark {
  position: absolute;
  left: 0;
  top: @edu-progress-bar-vertical-padding;
  height: @edu-progress-bar-height;
  border-right: 1px dotted @edu-white;
  border-left: 1px dotted @edu-border-color-dark;
}

.MediaPlayerProgressBar-markText {
  cursor: default;
  position: absolute;
  font-size: @edu-font-size-xs;
  text-align: center;
  color: @edu-text-color;
  top: @edu-progress-bar-hover-height + 5px;

  &.MediaPlayerProgressBar-markText--clickable {
    cursor: pointer;
  }
}
