.MediaPlayerControls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &.MediaPlayerControls--noScreen {
    .ant-slider .ant-slider-rail {
      .ant-slider-rail {
        background-color: darken(@edu-background-color-base, 5%);
      }

      &:hover {
        .ant-slider-rail {
          background-color: darken(@edu-background-color-base, 20%);
        }
      }
    }
  }
}

.MediaPlayerControls-playbackRate {
  font-size: @edu-font-size-sm;
}

.MediaPlayerControls-playbackRateButtonWrapper {
  position: relative;
  display: inline-block;
}

.MediaPlayerControls-fullscreenPlaybackRateMenu {
  .m-box-shadow;
  position: absolute;
  display: grid;
  grid-auto-flow: row;
  gap: 2px;
  left: -30px;
  bottom: 40px;
  padding: 3px;
  border-radius: @edu-border-radius-base;
  background-color: @edu-white;
  transition: all 300ms ease;
}

.MediaPlayerControls-playbackRateItem {
  .m-control-group;

  &.MediaPlayerControls-playbackRateItem--fullscreen {
    width: 100%;
    padding: 3px 12px;

    &:hover {
      cursor: pointer;
      border-radius: @edu-border-radius-base;
      background-color: @edu-background-color-light;
    }
  }
}

.MediaPlayerControls-playbackRateItemSelection {
  width: 12px;
  font-size: @edu-font-size-sm;
  line-height: 12px;
}

.MediaPlayerControls-controlsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.MediaPlayerControls-volumeControls {
  margin-right: 15px;

  @media @edu-media-phone-portrait {
    display: none;
  }
}

.MediaPlayerControls-progressBar {
  height: 35px;

  .ant-slider-mark-text {
    font-size: @edu-font-size-xs;
  }
}

.MediaPlayerControls-timeDisplay {
  padding: 0 6px;
}
