.MultitrackMediaPlayerOld {

  &.MultitrackMediaPlayerOld--noScreen {
    padding: 15px;
    border-radius: @edu-border-radius-base;
    background-color: @edu-background-color-light;
  }
}

.MultitrackMediaPlayerOld-errorMessage {
  text-align: center;
  color: @edu-error-color;
}

.MultitrackMediaPlayerOld-trackMixer {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid darken(@edu-background-color-base, 10%);
}
