.PlayerSettingsEditor {}

.PlayerSettingsEditor-playerTypeValue {}

.PlayerSettingsEditor-playerTypeValueInfo {
  font-style: italic;
  font-size: @edu-font-size-sm;
  padding-top: 10px;
}

.PlayerSettingsEditor-playerTypeValueWarning {
  display: grid;
  gap: 5px 10px;
  grid-template-columns: auto 1fr;
  align-items: start;
  font-style: italic;
  font-size: @edu-font-size-sm;
  padding-top: 10px;
}

.PlayerSettingsEditor-playerTypeValueWarningIcon {
  color: @edu-warning-color !important;
  padding-top: 3px;
}
