.TimecodeFineTunningInput {
  display: grid;
  gap: 30px;
  align-items: center;
  grid-auto-flow: column;
}

.TimecodeFineTunningInput-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  .m-fake-flex-gap(@edu-control-spacing-base);
}

.TimecodeFineTunningInput-select {
  width: 80px;
}
