@timeline-bar-height: 25px;
@timeline-segments-bar-color: @edu-white;

.Timeline {
  display: flex;
  margin: 20px 0;
  user-select: none;
  flex-direction: column;
}

.Timeline-markersBar {
  display: flex;
  position: relative;
  height: @timeline-bar-height;

  &:hover {
    background-color: @edu-background-color-light;
  }
}

.Timeline-marker {
  position: absolute;
  bottom: 2px;
  margin-left: -6px;

  &.Timeline-marker--draggable {
    color: @edu-primary-color-light;
    cursor: col-resize;
  }

  &.Timeline-marker--new {
    color: @edu-border-color-dark;
  }
}

.Timeline-markerTimecode {
  font-size: 75%;

  &.Timeline-markerTimecode--valid {
    color: @edu-success-color;
  }

  &.Timeline-markerTimecode--invalid {
    color: @edu-error-color;
  }
}

.Timeline-segmentsBar {
  display: flex;
  position: relative;
  height: @timeline-bar-height;
  color: @timeline-segments-bar-color;
  background-color: @edu-primary-color-light;
}

.Timeline-segment {
  .m-overflow-ellipsis;
  text-align: center;
  padding: 0 5px;
  border-left: 1px dotted @timeline-segments-bar-color;
  border-right: 1px dotted @edu-border-color-dark;

  &.is-selected {
    box-shadow: 0px -2px 2px @edu-border-color-base;
  }

  &:first-of-type {
    border-left: none;
  }

  &:last-of-type {
    border-right: none;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px -2px 2px @edu-border-color-base;
  }
}

.Timeline-newSegmentStart {
  position: absolute;
  height: @timeline-bar-height;
  border-right: 1px dotted @timeline-segments-bar-color;
}

.Timeline-deletionBar {
  display: flex;
  height: @timeline-bar-height;
}

.Timeline-deleteSegment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @edu-background-color-light;
  border-right: 1px dotted @edu-border-color-base;

  &.is-selected {
    box-shadow: 0px 2px 10px @edu-border-color-base;
    background-color: darken(@edu-background-color-light, 3%);
  }

  &:last-of-type {
    border-right: none;
  }
}

.Timeline-deleteButton {
  color: @edu-error-color;

  &:hover {
    color: @edu-error-color;
  }

  &:disabled {
    border: none;
    height: @timeline-bar-height;
  }
}
