@track-mixer-row-height: 35px;
@track-mixer-bar-height: 18px;
@tracx-mixer-bar-duration-top: -4px;
@tracx-mixer-bar-duration-left-right: 2px;
@track-mixer-bar-overflow-width: 10px;

.TrackMixer {}

.TrackMixer-tracks {
  display: grid;
  align-items: end;
  grid-template-columns: auto 1fr;
}

.TrackMixer-volumesColumn {}

.TrackMixer-volumePresets {
  display: flex;
  flex-direction: column;
}

.TrackMixer-volumePresetsSetup {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr auto;
  margin: 5px 0 20px 0px;
}

.TrackMixer-volumePresetSelector {
  width: 100%;
}

.TrackMixer-trackNameAndVolume {
  .m-control-group;
  height: @track-mixer-row-height;
  margin-right: 15px;
}

.TrackMixer-trackName {
  .m-overflow-ellipsis;
  text-align: end;
  width: 100px;
}

.TrackMixer-barsColumn {
  border-left: 1px dashed @edu-border-color-dark;
  border-right: 1px dashed @edu-border-color-dark;
}

.TrackMixer-barRow {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: @track-mixer-row-height;
}

.TrackMixer-bar {
  position: absolute;
  left: 0;
  height: @track-mixer-bar-height;
  background-color: @edu-secondary-color-dark;
  color: @edu-white;
  font-size: (0.6 * @track-mixer-bar-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
  padding: 0 4px;

  &.TrackMixer-bar--secondaryTrack {
    background-color: @edu-primary-color-light;
  }
}

.TrackMixer-barPlaceholderText {
  font-size: 10px;
  padding-left: 5px;
  color: @edu-text-color-secondary;
}

.TrackMixer-barOverflow {
  position: absolute;
  right: -@track-mixer-bar-overflow-width;
  width: @track-mixer-bar-overflow-width;
  height: @track-mixer-bar-height;
  background: linear-gradient(to left, @edu-white, transparent);
}
