@track-mixer-row-height: 35px;
@track-mixer-bar-height: 18px;
@tracx-mixer-bar-duration-top: -4px;
@tracx-mixer-bar-duration-left-right: 2px;
@track-mixer-column-padding: 10px 0;
@track-mixer-bar-overflow-width: 10px;

.TrackMixer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.TrackMixer-namesColumn {
  padding: @track-mixer-column-padding;
}

.TrackMixer-nameRow {
  .m-control-group;
  height: @track-mixer-row-height;
}

.TrackMixer-name {
  .m-overflow-ellipsis;
  text-align: end;
  width: 100px;
}

.TrackMixer-barsColumn {
  margin: 0 10px 0 0;
  padding: @track-mixer-column-padding;
  border-left: 1px dashed @edu-border-color-dark;
  border-right: 1px dashed @edu-border-color-dark;
}

.TrackMixer-barRow {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: @track-mixer-row-height;
}

.TrackMixer-bar {
  position: absolute;
  left: 0;
  height: @track-mixer-bar-height;
  background-color: @edu-secondary-color-dark;
  color: @edu-white;
  font-size: (0.6 * @track-mixer-bar-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 4px;

  &.TrackMixer-bar--secondaryTrack {
    background-color: @edu-primary-color-light;
  }
}

.TrackMixer-barPlaceholderText {
  font-size: 10px;
  padding-left: 5px;
  color: @edu-text-color-secondary;
}

.TrackMixer-barOverflow {
  position: absolute;
  right: -@track-mixer-bar-overflow-width;
  width: @track-mixer-bar-overflow-width;
  height: @track-mixer-bar-height;
  background: linear-gradient(to left, @edu-white, transparent);
}
