.ContentManagementMediaLibraryTab {}

.ContentManagementMediaLibraryTab-filterControls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr auto;
  grid-template-rows: auto;
  align-items: center;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
  }
}

.ContentManagementMediaLibraryTab-filter {
  width: 100%;
}

.ContentManagementMediaLibraryTab-bulkDeletePanel {
  margin-bottom: 40px;
}

.ContentManagementMediaLibraryTab-bulkDeletePanelHeader {
  display: flex;
  justify-content: flex-end;
}

.ContentManagementMediaLibraryTab-bulkDeletePanelContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .m-fake-flex-gap(10px);

  @media @edu-media-phone-portrait {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;
    justify-content: stretch;
  }
}

.ContentManagementMediaLibraryTab-bulkDeletePanelFilters {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;

  @media @edu-media-phone-portrait {
    grid-auto-flow: row;
  }
}

.ContentManagementMediaLibraryTab-bulkDeletePanelRadios {
  display: grid;
  grid-auto-flow: column;
}

.ContentManagementMediaLibraryTab-bulkDeletePanelButton {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
}
