.NoSearch {
  display: grid;
}

.NoSearch-contentContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  &.NoSearch-contentContainer--canDrop {
    .m-dropzone-base;

    &:hover {
      .m-dropzone-hover;
    }

    &.is-drag-active {
      .m-dropzone-active;
    }
  }
}

.NoSearch-divider {
  min-width: 80%;
}
