.FilesListViewer {
  height: 100%;
}

.FilesListViewer .ant-table .ant-table-thead > tr:nth-of-type(2) > th {
  border-right: 1px solid transparent;
  background: inherit;
  cursor: pointer;
  color: @edu-text-color;

  &::before {
    width: 0px !important;
  }
}

.FilesListViewer .ant-table .ant-table-thead > tr:nth-of-type(2) {
  &:hover {
    background-color: @edu-table-row-hover-background-color;
  }
}

.FilesListViewer-fileNameCell {
  display: flex;
  align-items: center;

  &.FilesListViewer-fileNameCell--parentLink {
    color: lighten(@edu-text-color, 25%);
    user-select: none;
  }
}

.FilesListViewer-fileName {
  .m-overflow-ellipsis;
  margin-left: 10px;
}

.FilesListViewer-row {
  cursor: pointer;
  user-select: none;

  &.is-selected {
    background-color: @edu-table-selected-row-background-color;

    & > .ant-table-cell.ant-table-cell-row-hover {
      background-color: @edu-table-selected-row-background-color;
    }
  }
}

.FilesListViewer-actions {
  display: none;

  &.are-visible {
    .m-control-group;
    justify-content: end;
  }
}

.FilesListViewer-action {
  .m-box-shadow;
  background-color: @edu-white;
  text-decoration: none;
  display: flex;
  width: 22px;
  height: 22px;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active {
    .m-box-shadow-dark;
    text-decoration: none;
  }

  &.FilesListViewer-action--preview {
    color: @edu-success-color;

    &:hover,
    &:active {
      color: @edu-success-color;
    }
  }

  &.FilesListViewer-action--delete {
    color: @edu-error-color;

    &:hover,
    &:active {
      color: @edu-error-color;
    }
  }
}
