.FilesViewer {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

.FilesViewer-loadingOverlay {
  .m-mask;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: fade(@edu-background-color-light, 60%);

  &.is-disabled {
    display: none;
  }
}
