.FilesGridViewer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

.FilesGridViewer-fileContainer {
  width: 80px;
  padding: 5px;
  margin: 10px;
  position: relative;
  border-radius: @edu-border-radius-base;

  &.is-selected {
    background-color: @edu-selection-background-color;
  }

  &:hover {
    .m-box-shadow;
  }
}

.FilesGridViewer-file {
  .m-overflow-ellipsis;
  display: block;
  text-align: center;
  text-decoration: none;
  color: @edu-text-color;
  user-select: none;

  &:hover,
  &:active {
    text-decoration: none;
  }
}

.FilesGridViewer-fileName {
  user-select: none;
}

.FilesGridViewer-fileDisplay {
  height: 60px;
  font-size: 60px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.FilesGridViewer-fileDisplayImage {
  max-width: 100%;
  max-height: 100%;
}

.FilesGridViewer-actions {
  display: none;
  position: absolute;
  top: -(@edu-control-height-sm / 2);
  right: -(@edu-control-height-sm / 2);

  &.are-visible {
    display: block;
  }
}
