.FilePreview {
  display: grid;
  gap: 24px;
  align-items: center;
  justify-items: stretch;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  @media @edu-media-phone {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &.FilePreview--compact {
    grid-template-columns: 1fr 2fr;
  }

  &.FilePreview--thumbnailOnly {
    grid-template-columns: auto;
  }
}

.FilePreview-previewArea {
  grid-row: 1;
  grid-column: 1;
  padding: @edu-content-padding;
  height: 100%;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  background-color: @edu-white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &.FilePreview-previewArea--thumbnailOnly {
    width: 100%;
    max-width: 360px;
    max-height: 280px;
    height: fit-content;
    border: none;
    padding: 0;
  }
}

.FilePreview-detailsArea {
  grid-row: 1;
  grid-column: 2;

  &.FilePreview-detailsArea--compact {
    gap: 0 18px;
    display: grid;
    grid-auto-flow: row;
    align-items: baseline;
    grid-template-columns: auto 1fr;

    @media @edu-media-phone {
      display: none;
    }
  }
}

.FilePreview-detailLabel {
  font-size: 90%;
  font-weight: bold;
}

.FilePreview-detailValue {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: unset;
  }
}

.FilePreview-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.FilePreview-icon {
  display: block;
  font-size: 12em;
}

.FilePreview-pdf {
  display: flex;
  flex-direction: column;
}

.FilePreview-pdfDocument {
  flex: 0 1 0%;
}

.FilePreview-pdfPager {
  flex: none;
}
