.ResourceSelector {
  height: 70vh;
  position: relative;

  .ant-tabs {
    height: 100% !important;

    .ant-tabs-content {
      height: 100% !important;
      position: unset !important;

      .ant-tabs-tabpane {
        height: 100% !important;
      }
    }
  }
}
