.StorageLocation {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 100%;
}

.StorageLocation-filesViewer {
  margin: 20px 0;
  border: 1px solid @edu-border-color-base;
  border-radius: @edu-border-radius-base;
  overflow: hidden;

  & .ant-table-placeholder .ant-table-cell {
    border: none;
  }
}

.StorageLocation-filesViewerContent {
  height: 100%;
  overflow: auto;
}

.StorageLocation-buttonsLine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.StorageLocation-buttonsLineItem {
  margin-top: @edu-control-spacing-base;

  &.StorageLocation-buttonsLineItem--select {
    min-width: 100px;
  }
}

.StorageLocation-locationInfo {
  min-height: 40px;
  margin-bottom: 20px;
}

.StorageLocation-alertPrivateStorage {
  display: flex;
  flex-wrap: wrap;
}

.StorageLocation-alertPrivateStorageUsage {
  flex-grow: 1;
  margin-left: 5px;
}
