.StorageLocation {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  justify-content: space-between;
}

.StorageLocation-filesViewer {
  height: 50vh;
  margin: 20px 0;
  border: 1px solid @edu-border-color-base;

  & .ant-table-placeholder .ant-table-cell {
    border: none;
  }
}

.StorageLocation-buttonsLine {
  display: flex;
  gap: @edu-controls-group-gap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.StorageLocation-filesViewerSelectCotainer {
  width: 100px;
}

.StorageLocation-filesViewerSelect {
  width: 100%;
}

.StorageLocation-locationInfo {
  min-height: 40px;
  margin-bottom: 20px;
}

.StorageLocation-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @edu-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.StorageLocation-screenBack {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 40px;

  &.StorageLocation-screenBack--noMargin {
    margin: 0;
  }

  &.is-disabled {
    color: @edu-text-color-secondary;
    cursor: not-allowed;
  }
}

.StorageLocation-screenSelect {
  margin-top: 30px;
}

.StorageLocation-imageEditorContainer {
  height: 60vh;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto;
  gap: 20px;
  overflow: hidden;
}

.StorageLocation-imageEditorButtons {
  margin: 0 auto;
  display: flex;
  gap: @edu-button-spacing;
}

.StorageLocation-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @edu-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.StorageLocation-screenContent {}

.StorageLocation-screenFooter {
  display: flex;
  align-items: center;
  gap: @edu-controls-group-gap;
  justify-content: space-between;
}

.StorageLocation-screenFooterButtons {
  display: flex;
  align-items: center;
  gap: @edu-controls-group-gap;
}
