.RoomMediaUploadScreen {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr;
}

.RoomMediaUploadScreen-headline {
  margin-bottom: 30px;
}

.RoomMediaUploadScreen-usedStorage {
  margin-bottom: 20px;
}

.RoomMediaUploadScreen-uploadStageHeadline {
  margin-bottom: 20px;
}

.RoomMediaUploadScreen-imageOptimizationCheckbox {
  display: grid;
  justify-content: end;
  font-size: @edu-font-size-sm;
  height: @edu-control-height-sm;
}
