<div class="PageHeader">
  <a class="PageHeader-logo" href="/">elmu</a>
</div>
<div class="Section">
  <h1>
      <%= title %>
  </h1>
  <p>Go to the <a href="/docs">documents</a>!</p>
</div>
<script src="/index.js"></script>
