<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ELMU</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="Elmu">elmu</div>
    <%- body %>
  </body>
</html>
