.WikimediaSearchScreen {
  position: relative;
  height: 100%;
  width: 100%;

  &.is-hidden {
    visibility: hidden;
  }
}

.WikimediaSearchScreen-noSearch {
  display: grid;
  align-items: center;
  margin: @edu-content-padding;
  overflow: auto;
}

.WikimediaSearchScreen-filesViewer {
  margin: @edu-content-padding 0;
  border: 1px solid @edu-border-color-base;
  overflow: hidden;
  height: 100%;
}

.WikimediaSearchScreen-filesViewerContent {
  height: 100%;
  overflow: auto;
}

.WikimediaSearchScreen-buttonsLine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media @edu-media-phone {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.WikimediaSearchScreen-buttonsLineItem {
  white-space: nowrap;
  margin: @edu-control-spacing-base @edu-control-spacing-wide 0 @edu-control-spacing-wide;
}
