.AbcNotation {}

.AbcNotation-notes {
  color: @edu-black;
}

.AbcNotation-audio {
  margin: @edu-content-padding auto 0 auto;
  max-width: @edu-breakpoint-sm;

  &.AbcNotation-audio--audioOnly {
    margin-top: 0;
  }
}
