@activities-tab-activity-grid-gap: 20px;

.ActivitiesTab-info {
  .m-info-card;
}

.ActivitiesTab-activity {
  display: grid;
  font-size: 13px;
  gap: @activities-tab-activity-grid-gap;
  align-items: center;
  grid-auto-flow: column;
  justify-content: flex-start;
  padding: 15px 20px;
  margin-bottom: 10px;
  color: @edu-text-color-secondary;
  border-radius: @edu-border-radius-base;
  background-color: @edu-background-color-base;

  @media @edu-media-phone {
    gap: 3px;
    grid-auto-flow: row;
  }
}

.ActivitiesTab-activityMetadata {
  display: grid;
  gap: @activities-tab-activity-grid-gap;
  align-items: center;
  grid-auto-flow: column;
  justify-content: flex-start;
}

.ActivitiesTab-activityMetadataIcon {
  font-size: 18px;
  color: @edu-text-color;
}

.ActivitiesTab-activityData {
  display: flex;
  flex-wrap: wrap;
}

.ActivitiesTab-activityDataDescription {
  margin-right: 5px;
}

.ActivitiesTab-activityDataLink {
  .m-link;
}
