.Alert {
  background-color: @edu-secondary-color-light;
  padding: 20px 16px;
  border-radius: 0;
  border: none;

  & + & {
    margin-top: 12px;
  }
}

.Alert-icon {
  // has to be important, otherwise Antd overrides it
  // through `.ant-alert-xyz .ant-alert-icon`
  color: @edu-secondary-color-dark !important;
}
