.ArticleCredits {
	display: block;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px @grey-6 solid;
}

.ArticleCredits-licence { }

.ArticleCredits-authorString { }

.ArticleCredits-authorList { }
