.ByteInput {
  display: inline-block;
}

.ByteInput-numberField {
  display: inline-block;
  width: 120px;
}

.ByteInput-unitField {
  display: inline-block;
  margin-left: @edu-control-spacing-base;

  &.ant-select {
    width: 80px;
  }
}
