@card-selector-selected-card-background-color: lighten(@edu-primary-color-light, 35%);

.CardSelector {
  .m-control-group;
}

.CardSelector-card {
  width: 20px;
  height: 30px;
  font-size: @edu-font-size-xs;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-base;
  background-color: @edu-background-color-base;

  &.is-disabled {
    cursor: not-allowed;
    color: @edu-disabled-color;
    border-color: @edu-disabled-color;
    background-color: @edu-background-color-light;
  }

  &.is-visited {
    border-color: lighten(@edu-primary-color-light, 25%);
    background-color: @card-selector-selected-card-background-color;
  }

  &.is-selected {
    border-color: @edu-border-color-active;
    box-shadow: 0 0 0 @edu-outline-width fade(@edu-border-color-active, @edu-outline-fade);
  }

  &:not(.is-disabled):hover {
    border-color: @edu-border-color-active;
  }
}
