@collapsible-padding: 16px;

.Collapsible {
  margin: 0 auto;
}

.Collapsible-header {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: @edu-control-spacing-wide;
  grid-template-columns: auto 1fr auto;
  overflow-x: hidden;
  text-decoration: none;
  color: @edu-text-color;
  padding: 12px @collapsible-padding;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  background-color: @edu-background-color-light;

  &:hover,
  &:active,
  &:visited {
    color: @edu-text-color;
  }

  &.is-above-content {
    border-radius: @edu-border-radius-base @edu-border-radius-base 0 0;
  }

  &.Collapsible-header--green {
    background-color: @edu-banner-green-background-color;
    border-color: @edu-banner-green-border-color;
  }

  &.Collapsible-header--blue {
    background-color: @edu-banner-blue-background-color;
    border-color: @edu-banner-blue-border-color;
  }

  &.Collapsible-header--orange {
    background-color: @edu-banner-orange-background-color;
    border-color: @edu-banner-orange-border-color;
  }

  &.Collapsible-header--red {
    background-color: @edu-banner-red-background-color;
    border-color: @edu-banner-red-border-color;
  }
}

.Collapsible-headerArrow {
  display: inline-block;
  font-size: @edu-font-size-sm;
  margin-right: 0;
  margin-left: auto;
  transition: all 0.3s ease;

  &.is-rotated-downwards {
    transform: rotate(90deg);
  }
}

.Collapsible-icon {
  font-size: 1.5em;
  display: flex;

  &.Collapsible-icon--standalone {
    font-size: 28px;
    align-self: center;
  }
}

.Collapsible-content {
  overflow-x: hidden;
  padding: @collapsible-padding;
  border: 1px solid @edu-border-color-light;
  border-radius: 0 0 @edu-border-radius-base @edu-border-radius-base;
  border-top: none;

  &.Collapsible-content--standalone {
    display: grid;
    gap: @edu-content-padding;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    border: 1px solid @edu-border-color-light;
    border-radius: @edu-border-radius-base;

    &.Collapsible-content--green {
      background-color: @edu-banner-green-background-color;
    }

    &.Collapsible-content--blue {
      background-color: @edu-banner-blue-background-color;
    }

    &.Collapsible-content--orange {
      background-color: @edu-banner-orange-background-color;
    }

    &.Collapsible-content--red {
      background-color: @edu-banner-red-background-color;
    }
  }

  &.Collapsible-content--green {
    border-color: @edu-banner-green-border-color;
  }

  &.Collapsible-content--blue {
    border-color: @edu-banner-blue-border-color;
  }

  &.Collapsible-content--orange {
    border-color: @edu-banner-orange-border-color;
  }

  &.Collapsible-content--red {
    border-color: @edu-banner-red-border-color;
  }
}
