.ColorPicker {
  display: block;

  &.ColorPicker--inline {
    display: inline-block;
    vertical-align: middle;
  }
}

.ColorPicker-currentColor {
  width: 72px;
  height: 30px;
  border: 1px solid @input-border-color;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 300ms ease;

  &.ColorPicker-currentColor--inline {
    width: 48px;
    height: 24px;
    border-radius: 3px;
  }

  &:hover {
    border-color: @input-hover-border-color;
    transition: all 300ms ease;
  }
}
