.CommentsPanel {}

.CommentsPanel-topicPanel {
  position: relative;

  .ant-collapse-header {
    align-items: center !important;
  }

  .ant-collapse-header-text {
    width: 100%;
  }
}

.CommentsPanel-topicHeader {
  display: flex;
  align-items: center;
}

.CommentsPanel-topicInputPrefix {
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.CommentsPanel-topicInput {
  width: 100%;
  padding: 5px 0;

  &.CommentsPanel-topicInput--edit {
    margin-right: 10px;
  }
}

.CommentsPanel-comment {
  position: relative;
  margin: @edu-content-padding;
  margin-bottom: 3 * @edu-content-padding;

  &:last-of-type {
    margin-bottom: @edu-content-padding;
  }
}

.CommentsPanel-metadata {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.CommentsPanel-date {
  font-style: italic;
}

.CommentsPanel-text {
  margin: 5px;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  background-color: lighten(@edu-primary-color-light, 42%);

  &.CommentsPanel-text--deleted {
    font-style: italic;
  }
}

.CommentsPanel-commentDeleteButton {
  position: absolute;
  bottom: 0;
  right: -20px;
}

.CommentsPanel-postCommentButton {
  display: flex !important;
  margin-top: 20px;
  margin-left: auto;
}

.CommentsPanel-newTopicButton {
  margin-top: 20px;
}

.CommentsPanel-editTopicButtonsGroup {
  display: grid;
  gap: 5px;
  align-items: center;
  grid-auto-flow: column;
}
