.CommentsPanel {
  margin: @edu-content-padding;
  margin-bottom: 3 * @edu-content-padding;

  &:last-of-type {
    margin-bottom: @edu-content-padding;
  }
}

.CommentsPanel-metadata {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.CommentsPanel-author {
  font-weight: bold;
}

.CommentsPanel-date {
  font-style: italic;
}

.CommentsPanel-text {
  margin: 5px;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  background-color: lighten(@edu-primary-color-light, 42%);
}

.CommentsPanel-addButton {
  margin-top: 20px;
  margin-left: auto;
  display: flex;
}
