@control-panel-height: @edu-control-height-sm + (2 * @edu-content-padding);

.ControlPanel {
  .m-inverted-button;
  display: flex;
  align-items: center;
  justify-content: center;
  height: @control-panel-height;
  width: @control-panel-height;
  background-color: @edu-primary-color-light;
  transition: width 500ms ease;

  &.is-open {
    width: 100vw;
  }
}

.ControlPanel-content {
  .m-page-content;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.ControlPanel-contentLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.ControlPanel-contentRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ControlPanel-closeButton {
  .m-icon-button;
}

.ControlPanel-openButton {
  border-radius: 0;

  .m-no-spinner-background;
  height: @control-panel-height;
  width: @control-panel-height;

  & .anticon {
    font-size: 0.6 * @control-panel-height;
  }
}
