.CookieConsentDrawer-contentContainer {
  width: 100%;
  display: flex; 
  justify-content: center;
}

.CookieConsentDrawer-content {
  display: flex;
  flex-direction: column;
}

.CookieConsentDrawer-acceptButton {
  margin-left: auto;
  margin-right: auto
}
