.CopyrightNotice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 5px;

  &:first-of-type {
    padding-top: 20px;
  }

  &::before {
    content: '©';
  }
}
