@default-site-logo-font-size: 34px;

.DefaultSiteLogo {
  margin: 12px 0;
  text-align: center;
  font-weight: 900;
  color: @edu-primary-color-light;
  font-size: @default-site-logo-font-size;
  line-height: 1.25 * @default-site-logo-font-size;

  &.DefaultSiteLogo--inverted {
    color: @edu-white;
  }
}
