.DefaultSiteLogo {
  margin: 12px 0;
  text-align: center;
  font-weight: 900;
  color: @edu-primary-color-light;
  font-size: @edu-font-size-page-title;
  line-height: 1.25 * @edu-font-size-page-title;

  &.DefaultSiteLogo--inverted {
    color: @edu-white;
  }
}
