.DefaultPageHeader {
  .m-page-content;
}

.DefaultPageHeader-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: @edu-white;
}

.DefaultPageHeader-headerContent {
  display: block;

  &.DefaultPageHeader-headerContent--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.DefaultPageHeader-headerNavigation {

  &.DefaultPageHeader-headerNavigation--desktop {
    @media @edu-media-phone {
      display: none;
    }
  }

  &.DefaultPageHeader-headerNavigation--mobile {
    display: none;

    @media @edu-media-phone {
      display: block;
    }
  }
}
