.DefaultPageFooter {
  width: 100%;
  .m-footer-content;
  flex: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: @edu-z-index-base-layer;
  line-height: 2 * @edu-font-size-base;
  background-color: @edu-background-color-footer;
}

.DefaultPageFooter-linkWrapper {
  margin: 0 @edu-control-spacing-base;
}

.DefaultPageFooter-link {
  text-decoration: none;
}

.DefaultPageFooter-linkDivider {
  padding: 0 15px;
  color: @edu-text-color-secondary;

  &:last-of-type {
    display: none;
  }
}
