@default-page-template-header-content-min-height: 32px;
@default-page-template-header-min-height: @default-page-template-header-content-min-height + (2* @edu-content-padding);

.DefaultPageTemplate {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  min-width: @edu-min-page-width;
  max-width: 100vw;
}

.DefaultPageTemplate-headerArea {
  top: 0;
  flex: none;
  width: 100%;
  position: sticky;
  z-index: @z-index-cover-layer;
  margin-bottom: @edu-content-padding;
}

.DefaultPageTemplate-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: @default-page-template-header-min-height;
  background-color: @edu-primary-color;

  a {
    color: #fff;
  }
}

.DefaultPageTemplate-headerContent {
  display: block;
  padding: @edu-content-padding;

  &.DefaultPageTemplate-headerContent--left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &.DefaultPageTemplate-headerContent--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.DefaultPageTemplate-logo {
  font-weight: bold;
}

.DefaultPageTemplate-headerButton {
  .m-icon-button;
  .m-grouped-button;
}

.DefaultPageTemplate-loginButton {
  cursor: pointer;
  margin-right: (2.5 * @edu-button-spacing);
}

.DefaultPageTemplate-contentArea {
  flex: 1 0 0%;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: @z-index-base-layer;

  &.DefaultPageTemplate-contentArea--fullScreen {
    align-items: center;
  }
}

.DefaultPageTemplate-content {
  margin: 0 auto;
  width: 100%;
  min-width: @edu-min-page-width;
  max-width: @edu-content-width-wide;

  &.DefaultPageTemplate-content--fullScreen {
    max-width: @edu-content-width-narrow;
  }
}

.DefaultPageTemplate-footer {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: @edu-content-padding;
  position: relative;
  z-index: @z-index-base-layer;
}

.DefaultPageTemplate-footerLink {
  display: inline-block;

  &:not(:last-child)::after {
    content: "\00A0\00A0|\00A0\00A0";
  }
}
