.DeleteButton {
  .m-icon-button;
  color: @edu-error-color !important;

  &:active,
  &:visited {
    color: @edu-error-color !important;
  }

  &:hover {
    color: lighten(@edu-error-color, 15%) !important;
  }
}
