.DeletedSection {
  padding: 25px;
  text-align: center;
}

.DeletedSection-icon {
  color: @edu-error-color;
  font-size: 64px;
}

.DeletedSection-title {
  font-size: 24px;
}

.DeletedSection-subtitle {}
