.DialogFooterButtons {
  display: flex;
  gap: @edu-controls-group-gap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.DialogFooterButtons-buttonsGroup {
  display: flex;
  align-items: center;
  gap: @edu-controls-group-gap;
}
