@import (less) url('react-diff-view/style/index.css');

.DiffView {
  font-size: @edu-font-size-sm;

  // Configure variables used by react-diff-view
  --diff-background-color: @edu-background-color-light;
  --diff-text-color: @edu-black;
  --diff-font-family: @edu-code-family;
  --diff-selection-background-color: #b3d7ff;
  --diff-selection-text-color: var(--diff-text-color);
  --diff-gutter-insert-background-color: #d6fedb;
  --diff-gutter-insert-text-color: var(--diff-text-color);
  --diff-gutter-delete-background-color: #fadde0;
  --diff-gutter-delete-text-color: var(--diff-text-color);
  --diff-gutter-selected-background-color: #fffce0;
  --diff-gutter-selected-text-color: var(--diff-text-color);
  --diff-code-insert-background-color: #eaffee;
  --diff-code-insert-text-color: var(--diff-text-color);
  --diff-code-delete-background-color: #fdeff0;
  --diff-code-delete-text-color: var(--diff-text-color);
  --diff-code-insert-edit-background-color: #c0dc91;
  --diff-code-insert-edit-text-color: var(--diff-text-color);
  --diff-code-delete-edit-background-color: #f39ea2;
  --diff-code-delete-edit-text-color: var(--diff-text-color);
  --diff-code-selected-background-color: #fffce0;
  --diff-code-selected-text-color: var(--diff-text-color);
  --diff-omit-gutter-line-color: #cb2a1d;
}
