.DocumentInputSectionComments {
  margin: 10px 0;
}

.DocumentInputSectionComments-postCommentButton {
  display: flex !important;
  margin-top: 20px;
  margin-left: auto;
}

.DocumentInputSectionComments-comment {
  position: relative;
  margin: @edu-content-padding;
  margin-bottom: 3 * @edu-content-padding;

  &:last-of-type {
    margin-bottom: @edu-content-padding;
  }
}

.DocumentInputSectionComments-metadata {
  display: flex;
  justify-content: space-between;
  font-size: @edu-font-size-sm;
}

.DocumentInputSectionComments-date {
  font-style: italic;
}

.DocumentInputSectionComments-text {
  margin: 5px 0;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  background-color: @edu-background-color-light;

  &.DocumentInputSectionComments-text--deleted {
    font-style: italic;
  }
}

.DocumentInputSectionComments-commentDeleteButton {
  position: absolute;
  bottom: 0;
  right: -25px;
}
