.DocumentCard {
  position: relative;
  display: grid;
  height: 230px;
  gap: @edu-content-padding;
  padding: @edu-content-padding;
  grid-template-rows: auto 1fr auto;
  background-color: @edu-white;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
}

.DocumentCard-title {
  .m-overflow-ellipsis;
}

.DocumentCard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.DocumentCard-description {
  .m-line-clamp(2);
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;

  @media @edu-media-phone-portrait {
    display: none;
  }
}

.DocumentCard-dateDetails {
  text-align: end;
  font-size: @edu-font-size-sm;

  @media @edu-media-phone-portrait {
    text-align: start;
  }
}

.DocumentCard-button {
  padding: 0 @edu-content-padding;
  margin-left: auto;
}
