.DocumentCard {
  .m-row-card(2);
}

.DocumentCard-title {
  .m-overflow-ellipsis;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  font-size: @edu-font-size-base;

  &.DocumentCard-title--nonClickable {
    cursor: not-allowed;
    color: @edu-text-color-secondary;
  }
}

.DocumentCard-content {
  height: 70px;
  cursor: pointer;
  .m-line-clamp(3);

  &.DocumentCard-content--nonClickable {
    cursor: not-allowed;
    color: @edu-text-color-secondary;
  }
}

.DocumentCard-infoTooltip {
  display: grid;
  grid-auto-flow: row;
}

.DocumentCard-details {
  font-size: @edu-font-size-sm;
}

.DocumentCard-description {
  .m-line-clamp(3);
}
