.DocumentCommentsPanel {}

.DocumentCommentsPanel-topicPanel {
  position: relative;

  .ant-collapse-header {
    align-items: center !important;
  }

  .ant-collapse-header-text {
    width: 100%;
  }
}

.DocumentCommentsPanel-topicHeader {
  display: flex;
  align-items: center;
}

.DocumentCommentsPanel-topicInputPrefix {
  margin-right: 10px;
  font-weight: bold;
  white-space: nowrap;
}

.DocumentCommentsPanel-topicInput {
  width: 100%;
  padding: 5px 0;

  &.DocumentCommentsPanel-topicInput--edit {
    margin-right: 10px;
  }
}

.DocumentCommentsPanel-comment {
  position: relative;
  margin: @edu-content-padding;
  margin-bottom: 3 * @edu-content-padding;

  &:last-of-type {
    margin-bottom: @edu-content-padding;
  }
}

.DocumentCommentsPanel-metadata {
  display: flex;
  justify-content: space-between;
  font-size: @edu-font-size-sm;
}

.DocumentCommentsPanel-date {
  font-style: italic;
}

.DocumentCommentsPanel-text {
  margin: 5px 0;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  background-color: @edu-background-color-light;

  &.DocumentCommentsPanel-text--deleted {
    font-style: italic;
  }
}

.DocumentCommentsPanel-commentDeleteButton {
  position: absolute;
  bottom: 0;
  right: -25px;
}

.DocumentCommentsPanel-postCommentButton {
  display: flex !important;
  margin-top: 20px;
  margin-left: auto;
}

.DocumentCommentsPanel-newTopicButton {
  margin-top: 20px;
}

.DocumentCommentsPanel-editTopicButtonsGroup {
  display: grid;
  gap: 5px;
  align-items: center;
  grid-auto-flow: column;
}
