.DocumentMetadataModal {}

.DocumentMetadataModal-sequenceInput {
  width: 100%;
}

.DocumentMetadataModal-formContent {
  &.is-hidden {
    display: none;
  }
}

.DocumentMetadataModal-saveButton {
  &.DocumentMetadataModal-saveButton--withExtension {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

.DocumentMetadataModal-extendedSaveButton {
  display: inline-block !important;
  margin-left: 2px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
