.DocumentsTable {
  .ant-table-thead th::before {
    display: none;
  }
}

.DocumentsTable-row {
  .ant-table-cell {
    border-top: 1px solid @edu-border-color-base !important;
    border-bottom: 1px solid transparent !important;
  }

  .ant-table-cell-row-hover {
    border-top-color: @edu-border-color-base !important;
    border-radius: 0 !important;
  }

  &:first-of-type .ant-table-cell {
    border-top: none !important;
  }
}
