.DocumentMetadataModal {}

.DocumentMetadataModal-sequenceInput {
  width: 100%;
}

.DocumentMetadataModal-infoContent {
  font-size: @edu-font-size-sm;
  padding: @edu-content-padding;
  border: 1px solid @edu-banner-yellow-background-color;
  border-radius: @edu-border-radius-base;
  background-color: lighten(@edu-banner-yellow-background-color, 5%);
}

.DocumentMetadataModal-infoContentWarning {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 15px;
  margin-top: 15px;
  justify-content: start;
}

.DocumentMetadataModal-infoContentWarningIcon {
  color: @edu-warning-color !important;
}

.DocumentMetadataModal-formContent {
  &.is-hidden {
    display: none;
  }
}

.DocumentMetadataModal-saveButton {
  &.DocumentMetadataModal-saveButton--withExtension {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

.DocumentMetadataModal-extendedSaveButton {
  display: inline-block !important;
  margin-left: 2px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
