.DocumentVersionHistory {
  display: grid;
  gap: 30px;
  grid-auto-flow: row;
  padding: 30px 15px 0 30px;
}

.DocumentVersionHistory-item {
  .ant-collapse-header {
    padding: 0 !important;
  }

  .ant-collapse-content-box {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.DocumentVersionHistory-itemDot {
  &.DocumentVersionHistory-itemDot--circle {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: 2px solid @edu-border-color-light;

    &.is-selected-revision {
      border-color: @edu-primary-color-light;
    }
  }

  &.DocumentVersionHistory-itemDot--icon {
    color: @edu-text-color;
  }
}

.DocumentVersionHistory-itemHeader {
  display: grid;
  gap: 2px;
  grid-auto-flow: row;
}

.DocumentVersionHistory-itemHeaderText {
  &.is-open-panel {
    font-weight: bold;
  }
}

.DocumentVersionHistory-itemHeaderSubtext {
  color: @edu-text-color-secondary;
}

.DocumentVersionHistory-itemContentRow {
  display: flex;
  flex-wrap: wrap;
}

.DocumentVersionHistory-itemContentRowValue {
  margin-left: 5px;
  color: @edu-text-color-secondary;
}

.DocumentVersionHistory-itemActions {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  grid-auto-flow: column;
  justify-content: start;
}
