.EditControlPanel {}

.EditControlPanel-leftSide {
  .m-overflow-ellipsis;
}

.EditControlPanel-leftSideButton {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 6px;
}

.EditControlPanel-rightSide {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: @edu-controls-group-gap;
  padding-left: @edu-controls-group-gap;
}

.EditControlPanel-rightSideButton {
  .m-icon-button;
}

.EditControlPanel-statusIcon {

  &.EditControlPanel-statusIcon--saved {
    color: inherit;
  }

  &.EditControlPanel-statusIcon--dirty {
    color: @gold-6
  }

  &.EditControlPanel-statusIcon--invalid {
    color: @yellow-6
  }
}
