.EditControlPanel {
}

.EditControlPanel-leftSide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.EditControlPanel-leftSideButton {
  display: inline-block;
  vertical-align: bottom;
  padding-right: 6px;
}

.EditControlPanel-rightSide {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 1.5 * @edu-button-spacing;
  padding-right: 1.5 * @edu-button-spacing;
  padding-left: @edu-content-padding;
}

.EditControlPanel-rightSideButton {
  .m-icon-button;

  &.ant-btn:disabled {
    color: fade(@edu-white, 60%);
    border-color: fade(@edu-white, 60%);
  }
}

.EditControlPanel-statusIcon {

  &.EditControlPanel-statusIcon--saved {
    color: inherit;
  }

  &.EditControlPanel-statusIcon--dirty {
    color: @gold-6
  }

  &.EditControlPanel-statusIcon--invalid {
    color: @yellow-6
  }
}
