.EmptyState {
  .ant-result-subtitle {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: @edu-content-padding;
    color: @edu-text-color-secondary !important;
    font-size: @edu-font-size-sm !important;
  }
}
