.ErrorRoot {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20vh;
}

.ErrorRoot-status {
  font-family: 'Dancing Script';
  font-size: 72px;
  text-align: center;
  color: @global-elmu-blue;
  margin: 32px 0;
}

.ErrorRoot-message {
  text-align: center;
}

.ErrorRoot-back {
  text-align: center;
}

.ErrorRoot-stack {
  margin-top: 180px;
  font-family: monospace;
  text-align: left;
}
