.ErrorPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Dancing Script';
}

.ErrorPage-content {
  padding: @edu-page-content-padding;
  max-width: @edu-content-width-narrow;
}

.ErrorPage-buttons {
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: center;
}

.ErrorPage-button {
  display: flex !important;
  align-items: center !important;

  a {
    color: @edu-text-color;
  }

  .anticon {
    display: flex !important;
  }

  &.ErrorPage-button--primary {
    a {
      color: white !important;
    }
  }
}

.ErrorPage-errorDetails {
  margin-top: 100px;
  font-family: monospace;
  text-align: left;
}
