.FavoritesTab {}

.FavoritesTab-sortingSelector {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.FavoritesTab-actions {
  text-align: center;
}

.FavoritesTab-info {
  .m-info-card;
}

.FavoriteTab-headline {
  .m-section-headline;
}

.FavoritesTab-cards {
  .m-cards-section-content;
}

.FavoritesTab-cardWrapper {
  position: relative;
}

.FavoritesTab-cardStar {
  position: absolute;
  top: -14px;
  right: -5px;
}

.FavoritesTab-userCard {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  border-radius: @edu-border-radius-base;
}

.FavoritesTab-userCardAvatar {
  display: flex;
  align-items: center;
  padding: @edu-content-padding;
}

.FavoritesTab-userCardTitle {
  .m-overflow-ellipsis;
  width: 100%;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: @edu-background-color-base;
  border-bottom-left-radius: @edu-border-radius-base;
  border-bottom-right-radius: @edu-border-radius-base;

  &:hover {
    cursor: pointer;
    background-color: lighten(@edu-background-color-base, 2%);
  }
}
