.FavoriteStar {
  display: flex;
  height: 20px !important;
  align-items: center;

  .anticon {
    color: @edu-disabled-color !important;
  }

  &.is-set {
    .anticon {
      color: @edu-secondary-color-dark !important;
    }
  }
}
