.FavoriteStar {
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;

  &.is-filled {
    color: @edu-secondary-color-dark;
  }

  &.is-disabled {
    color: @edu-border-color-base;
    cursor: not-allowed;
  }
}
