@files-grid-viewer-action-size: 22px;

.FilesGridViewer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: @edu-content-padding;
}

.FilesGridViewer-fileContainer {
  width: 80px;
  padding: 5px;
  position: relative;
  border-radius: @edu-border-radius-base;

  &.is-selected {
    background-color: @edu-selection-background-color;
  }

  &:hover {
    .m-box-shadow;
  }
}

.FilesGridViewer-file {
  .m-overflow-ellipsis;
  display: block;
  text-align: center;
  text-decoration: none;
  color: @edu-text-color;
  user-select: none;

  &:hover,
  &:active {
    text-decoration: none;
    color: @edu-text-color-secondary;
  }

  &.FilesGridViewer-file--parentLink {
    color: lighten(@edu-text-color, 25%);

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

.FilesGridViewer-fileName {
  user-select: none;
}

.FilesGridViewer-fileDisplay {
  height: 60px;
  font-size: 60px;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: center;
}

.FilesGridViewer-fileDisplayImage {
  max-width: 100%;
  max-height: 100%;
}

.FilesGridViewer-actions {
  cursor: pointer;
  display: none;
  position: absolute;
  top: -(@files-grid-viewer-action-size / 2);
  right: -(@files-grid-viewer-action-size / 2);

  &.are-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.FilesGridViewer-action {
  .m-box-shadow;
  background-color: @edu-white;
  width: @files-grid-viewer-action-size;
  height: @files-grid-viewer-action-size;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 90%;

  &:hover,
  &:active {
    .m-box-shadow-dark;
    text-decoration: none;
  }

  &.FilesGridViewer-action--preview {
    color: @edu-success-color;

    &:hover,
    &:active {
      color: @edu-success-color;
    }
  }

  &.FilesGridViewer-action--delete {
    color: @edu-error-color;

    &:hover,
    &:active {
      color: @edu-error-color;
    }
  }
}
