.FilesGridViewer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: @edu-content-padding;
  border: 1px solid @edu-border-color-base;
}

.FilesGridViewer-fileContainer {
  padding: 5px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px;
}

.FilesGridViewer-file {
  text-align: center;
  text-decoration: none;
  color: @edu-text-color;

  &:hover,
  &:active {
    text-decoration: none;
    color: @edu-text-color-secondary;
  }
}

.FilesGridViewer-fileIcon {
  font-size: 60px;
}

.FilesGridViewer-fileOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 85%;
  border: 1px solid @edu-primary-color-light;
  border-radius: @edu-border-radius-base;
  background-color: @edu-selection-background-color;

  &.is-visible {
    display: block
  }
}

.FilesGridViewer-actions {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.are-visible {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.FilesGridViewer-action {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 90%;
  background-color: @edu-white;
  border-radius: 50%;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &.FilesGridViewer-action--preview {
    color: @edu-green-icon-color;

    &:hover,
    &:active {
      color: @edu-green-icon-color;
    }
  }

  &.FilesGridViewer-action--delete {
    color: @edu-danger-color;

    &:hover,
    &:active {
      color: @edu-danger-color;
    }
  }
}
