.FilesListViewer {}

.FilesListViewer .ant-table .ant-table-thead > tr:nth-of-type(2) > th {
  border-right: 1px solid transparent;
  background: inherit;
  cursor: pointer;
  color: @edu-text-color;

  &::before {
    width: 0px !important;
  }
}

.FilesListViewer .ant-table .ant-table-thead > tr:nth-of-type(2) {
  &:hover {
    background-color: @edu-table-row-hover-bg;
  }
}

.FilesListViewer-fileIcon {
  padding-right: 5px;
}

.FilesListViewer-row {
  cursor: pointer;

  &.is-selected {
    background-color: lighten(@edu-primary-color-light, 40%);

    & > .ant-table-cell.ant-table-cell-row-hover {
      background-color: lighten(@edu-primary-color-light, 40%);
    }
  }
}

.FilesListViewer-actions {
  display: none;

  &.are-visible {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}

.FilesListViewer-action {
  text-decoration: none;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &.FilesListViewer-action--preview {
    color: @edu-green-icon-color;

    &:hover,
    &:active {
      color: @edu-green-icon-color;
    }
  }

  &.FilesListViewer-action--delete {
    color: @edu-danger-color;

    &:hover,
    &:active {
      color: @edu-danger-color;
    }
  }
}
