.FilesUploadOverview {
  height: 100%;
}

.FilesUploadOverview-headline {
  margin-bottom: 30px;
}

.FilesUploadOverview-usedStorage {
  margin-bottom: 20px;
}

.FilesUploadOverview-fileStatus {
  padding: 0 15px;
  margin-bottom: 15px;
}

.FilesUploadOverview-fileStatusRow {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FilesUploadOverview-fileStatusError {
  padding-left: 25px;
  font-size: 12px;
  color: @edu-error-color;
}

.FilesUploadOverview-fileStatusPreview {
  margin-top: 25px;
}

.FilesUploadOverview-message {
  margin-bottom: 25px;
}

.FilesUploadOverview-fileStatusContainer {
  max-height: 50vh;
  overflow: auto;
  margin-bottom: 25px;
}

.FilesUploadOverview-fileStatusIcon {
  &.FilesUploadOverview-fileStatusIcon--processed {
    color: @edu-secondary-color-dark;
  }

  &.FilesUploadOverview-fileStatusIcon--success {
    color: @edu-success-color;
  }

  &.FilesUploadOverview-fileStatusIcon--error {
    color: @edu-error-color;
  }
}

.FilesUploadOverview-fileStatusMessage {
  font-style: italic;
  color: @edu-secondary-color-dark;
}
