.FilesListViewer {}

.FilesListViewer .ant-table .ant-table-thead > tr:nth-of-type(2) > th {
  border-right: 1px solid transparent;
  background: inherit;
  cursor: pointer;
  color: @edu-text-color;

  &::before {
    width: 0px !important;
  }
}

.FilesListViewer .ant-table .ant-table-thead > tr:nth-of-type(2) {
  &:hover {
    background-color: @edu-table-row-hover-bg;
  }
}

.FilesListViewer-fileIcon {
  padding-right: 5px;
}
