.HistoryControlPanel {
}

.HistoryControlPanel-leftSide {
  flex: 1 0 0%;
  display: flex;
  align-items: center;
  padding-right: 2 * @edu-content-padding;
}

.HistoryControlPanel-sliderLabel {
  padding-right: @edu-content-padding;
}

.HistoryControlPanel-slider {
  .m-antd-inverted-slider;
  flex: 1 0 0%;
  margin: 6px;
}

.HistoryControlPanel-rightSide {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: 1.5 * @edu-control-spacing-base;
  padding-right: 1.5 * @edu-control-spacing-base;
  padding-left: @edu-content-padding;
}

.HistoryControlPanel-button {
  .m-icon-button;
}
