@import (less) 'cropperjs/dist/cropper.css';

.ImageEditor {
  height: 100%;
  padding: 4px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  overflow: hidden;
}

.ImageEditor-controls {
  text-align: center;
}
