.InputAndPreview {
  display: grid;
  gap: @edu-control-spacing-base;
  grid-template-columns: 50% 50%;

  @media @edu-media-phone {
    grid-template-columns: 1fr;
    gap: @edu-content-padding;
  }
}

.InputAndPreview-input {
  display: grid;
}

.InputAndPreview-preview {
  .m-control-border-base;
  background-color: @edu-background-color-light;
  padding: 4px 11px;
  display: grid;
  min-height: 2 * @edu-control-height-base;
  border-color: @edu-border-color-light;

  .InputAndPreview-preview--inline {
    min-height: @edu-control-height-base;
  }
}
