.ItemPanel {
  margin: 10px 0;

  .ant-collapse-header {
    background-color: @edu-background-color-light !important;
    border-top-left-radius: @edu-border-radius-base !important;
    border-top-right-radius: @edu-border-radius-base !important;
  }

  &.is-dragged {
    border: 1px solid @edu-border-color-dark;
  }

  &.is-other-dragged {
    opacity: 0.60 !important;
  }
}

.ItemPanel-header {
  .m-line-clamp(1);
}

.ItemPanel-contentWrapper {
  background-color: @edu-white !important;
}

.ItemPanel-actionButtons {
  display: grid;
  gap: 3px;
  grid-auto-flow: column;
}
