.LoginForm {}

.LoginForm-errorMessage {
  line-height: initial;
  color: @edu-error-color;
}

.LoginForm-forgotPasswordLink {
  margin-top: @edu-control-height-sm;
  text-align: right;
}

.LoginForm-loginButton {
  margin-top: @edu-control-height-lg;
}
