.LoginForm {}

.LoginForm-errorMessage {
  line-height: initial;
  color: @edu-error-color;
}

.LoginForm-alternativeActionLink {
  text-align: right;
  font-size: @edu-font-size-sm;
  margin-top: @edu-content-padding;
}

.LoginForm-loginButton {
  margin-top: @edu-control-height-lg;
}
