.MarkdownInput {
  display: grid;
}

.MarkdownInput-input {

  .ant-input-group-addon {
    color: @edu-text-color !important;
    background-color: @edu-secondary-color-light !important;
  }

  &.is-disabled {
    .ant-input-group-addon {
      cursor: not-allowed !important;
      background-color: @edu-disabled-color !important;
    }
  }
}

.MarkdownInput-inlineInputContainer {
  position: relative;
}

.MarkdownInput-textareaContainer {
  position: relative;
  display: grid;
}

.MarkdownInput-blockHelpContainer {
  position: absolute;
  display: grid;
  gap: 3px;
  grid-auto-flow: column;
  bottom: 10px;
  right: 10px;

  &.MarkdownInput-blockHelpContainer--embeddable {
    bottom: 3px;
    right: 3px;
  }
}

.MarkdownInput-resourcePicker {
  .m-markdown-button;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darken(@edu-background-color-base, 3%);

  &.MarkdownInput-resourcePicker--small {
    .m-markdown-button-small;
  }

  &.is-disabled {
    .m-markdown-button-disabled;
  }
}

.MarkdownInput-previewContainer {
  position: relative;
  display: grid;
}

.MarkdownInput-preview {
  word-break: normal;
  overflow-wrap: anywhere;

  &.MarkdownInput-preview--inline {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.MarkdownInput-previewWatermark {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  font-size: 18px;
}
