@markdown-input-block-min-height: 100px;

.MarkdownInput {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;

  &.MarkdownInput--withPreview {
    grid-template-columns: 1fr 1fr;

    @media @edu-media-phone {
      grid-template-columns: 1fr;
    }
  }
}

.MarkdownInput-input {

  .ant-input-group-addon {
    color: @edu-text-color;
    background-color: @edu-secondary-color-light;
  }

  &.is-disabled {
    .ant-input-group-addon {
      cursor: not-allowed;
      background-color: @edu-disabled-color;
    }
  }
}

.MarkdownInput-textareaContainer {
  position: relative;
  display: grid;
}

.MarkdownInput-blockHelpContainer {
  position: absolute;
  bottom: 10px;
  right: 10px;

  &.MarkdownInput-blockHelpContainer--embeddable {
    bottom: 3px;
    right: 3px;
  }
}

.MarkdownInput-preview {
  min-height: @markdown-input-block-min-height;
  height: 100%;
  padding: 4px 11px;
  border: 1px solid @edu-border-color-base;
  border-radius: @edu-border-radius-base;

  &.MarkdownInput-preview--inline {
    overflow-x: auto;
    min-height: unset;
    white-space: nowrap;
  }

  &.is-disabled {
    cursor: not-allowed;
    color: @edu-disabled-color;
    border-color: @edu-border-color-light;
  }
}
