.MarkdownTextarea {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.MarkdownTextarea-preview {
  min-height: 50px;
  height: 100%;
  padding: 4px 11px;
  border: 1px solid @edu-border-color-base;
  border-radius: @edu-border-radius-base;
}
