.MarkdownResourceSelector {
  .m-markdown-button;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darken(@edu-background-color-base, 3%);

  &.MarkdownResourceSelector--small {
    .m-markdown-button-small;
  }

  &.is-disabled {
    .m-markdown-button-disabled;
  }
}
