@markdown-blockquote-color: fade(@edu-primary-color-light, 50%);
@markdown-blockquote-background-color: @grey-1;
@markdown-blockquote-shadow-color: @grey-6;
@markdown-blockquote-quotations-color: fade(@edu-primary-color-light, 20%);
@markdown-table-border-color: fade(@edu-primary-color-light, 50%);
@markdown-table-cell-text-color: @edu-text-color;
@markdown-table-header-background-color: fade(@edu-primary-color-light, 20%);

.Markdown {
  blockquote {
    display:block;
    background: @markdown-blockquote-background-color;
    padding: 15px 20px 15px 45px;
    margin: 40px 80px;
    position: relative;

    @media only screen and (max-width: 576px) {
      margin: 40px 0;
    }

    /*Borders - (Optional)*/
    border-left: 15px solid @markdown-blockquote-color;
    border-right: 2px solid @markdown-blockquote-color;

    /*Box Shadow - (Optional)*/
    box-shadow: 2px 2px 15px @markdown-blockquote-shadow-color;
  }

  blockquote::before{
    content: "\201C"; /*Unicode for Left Double Quote*/

    /*Font*/
    line-height: 60px;
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    color: @markdown-blockquote-quotations-color;

    /*Positioning*/
    position: absolute;
    left: 10px;
    top:5px;
  }

  blockquote::after{
    /*Reset to make sure*/
    content: "";
  }

  blockquote > *:last-child {
    margin-bottom: 0;
  }

  table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }

  .table-cell {
    padding: 0.5em 1em;
    text-align: left;
    color: @markdown-table-cell-text-color;
    border: 1px solid @markdown-table-border-color;
  }

  th {
    .table-cell();
    font-weight: bold;
    background-color: @markdown-table-header-background-color;
  }

  td {
    .table-cell();
    font-weight: normal;
  }

  img,
  video,
  audio {
    max-width: 100%;
  }
}
