.MediaPlayer {}

.MediaPlayer-playerContainer {
  width: 100%;

  &.MediaPlayer-playerContainer--noDisplay {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.MediaPlayer-aspectRatioContainer {
  position: relative;
}

.MediaPlayer-playerScreen {
  position: absolute;
  top: 0;
  left: 0;
}
