@media-control-background-color: lighten(@grey-9, 10%);
@media-control-button-color: @grey-2;
@media-control-text-color: @grey-2;
@media-control-progress-background-color: @grey-10;
@media-control-progress-foreground-color: @grey-2;

.MediaControl {
  @import (less) 'react-soundplayer/styles/cover.css';
  @import (less) 'react-soundplayer/styles/progress.css';
  @import (less) 'react-soundplayer/styles/buttons.css';
  @import (less) 'react-soundplayer/styles/volume.css';
  @import (less) 'react-soundplayer/styles/icons.css';

  // ---------- Overrides ------------------------------------v

  .sb-soundplayer-btn {
    color: @media-control-button-color;
  }

  .sb-soundplayer-volume-range {
    &::-moz-range-thumb {
      background: @media-control-button-color;
    }
    &::-webkit-slider-thumb {
      background: @media-control-button-color;
    }
    &::-ms-thumb {
      background: @media-control-button-color;
    }
    &::-ms-fill-lower {
      background: @media-control-button-color;
    }
  }

  .sb-soundplayer-progress-container {
    background-color: @media-control-progress-background-color;
  }

  .sb-soundplayer-progress-inner {
    background-color: @media-control-progress-foreground-color;
  }

  // ---------- Overrides ------------------------------------^

  display: flex;
  align-items: center;
  background-color: @media-control-background-color;
  color: @media-control-text-color;
  font-size: 12px;
}

.MediaControl-playButton {
  flex: none;
}

.MediaControl-volumeControl {
  flex: none;
  display: flex;
  align-items: center;

  & > div {
    margin-bottom: 5px;
  }
}

.MediaControl-progress {
  flex: 1 0 0%;
  margin: 0 15px;
}

.MediaControl-timer {
  flex: none;
  margin: 0 15px;
}
