.MediaPlayerTrack {
  width: 100%;

  &.MediaPlayerTrack--noDisplay {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  &.MediaPlayerTrack--previewMode {
    width: 50%;
    margin: 0 auto;
  }
}

.MediaPlayerTrack-aspectRatioContainer {
  position: relative;
}

.MediaPlayerTrack-screen {
  position: absolute;
  top: 0;
  left: 0;
}
