.MediaPlayerControls {

  &.MediaPlayerControls--standalone {
    padding: 15px;
    background-color: @edu-background-color-light;
    border-radius: @edu-border-radius-base;

    .ant-slider .ant-slider-rail {
      .ant-slider-rail {
        background-color: darken(@edu-background-color-base, 5%);
      }

      &:hover {
        .ant-slider-rail {
          background-color: darken(@edu-background-color-base, 20%);
        }
      }
    }
  }
}

.MediaPlayerControls-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MediaPlayerControls-controlsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.MediaPlayerControls-volumeControls {
  display: flex;
  margin-right: 15px;
}

.MediaPlayerControls-progressSlider {
  height: 35px;

  .ant-slider-mark-text {
    font-size: 11px;
  }
}

.MediaPlayerControls-volumeSlider {
  width: 60px;
}

.MediaPlayerControls-timeDisplay {
  padding: 0 6px
}
