.MenuDocRef {
  flex: 1 0 0%;
  display: flex;
  align-items: center;
}

.MenuDocRef-titleAndUrl {
  flex: 1 0 0%;
}

.MenuDocRef-title {
  font-weight: bold;
}

.MenuDocRef-url {
  font-style: italic;
}

.MenuDocRef-deleteButton {
  flex: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
