.MenuDocRef {
  position: relative;
}

.MenuDocRef-title {
  font-weight: bold;
}

.MenuDocRef-url {
  font-style: italic;
}

.MenuDocRef-deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
