.MenuDocRef {
  display: flex;
  align-items: center;
}

.MenuDocRef-titleAndUrl {
  width: 100%;
  overflow: auto;
}

.MenuDocRef-title {
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MenuDocRef-url {
  font-style: italic;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MenuDocRef-deleteButton {
  flex: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
