@minima-document-card-notebook-line-height: 25px;
@minima-document-card-vertical-line-left-padding: 35px;
@minima-document-card-horizontal-padding: @edu-content-padding;
@minima-document-card-backround: lighten(@edu-background-color-light, 1%);
@minima-document-card-notebook-left-padding: @minima-document-card-vertical-line-left-padding - @minima-document-card-horizontal-padding + 15px;

.MinimalDocumentCard {
  position: relative;
  width: 250px;
  height: 170px;
  display: flex;
  flex-direction: column;
  background-color: @edu-white;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-base;
  background-color: @minima-document-card-backround;
  padding: 15px @minima-document-card-horizontal-padding 4px @minima-document-card-horizontal-padding;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    width: 2px;
    height: 100%;
    opacity: 0.5;
    background-color: lighten(@edu-primary-color-light, 10%);
    left: @minima-document-card-vertical-line-left-padding;
  }
}

.MinimalDocumentCard-notebook {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: repeating-linear-gradient(@minima-document-card-backround 0px,
      @minima-document-card-backround @minima-document-card-notebook-line-height - 1px,
      darken(@edu-border-color-base, 2%) @minima-document-card-notebook-line-height);
}

.MinimalDocumentCard-notebookText {
  font-size: 14px;
  padding-top: 4px;
  padding-left: @minima-document-card-notebook-left-padding;
  line-height: @minima-document-card-notebook-line-height;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.MinimalDocumentCard-notebookDate {
  font-size: 12px;
  font-style: italic;
  margin: auto auto 26px 50px;
  color: lighten(@edu-text-color, 10%);
}

.MinimalDocumentCard-notebookLink {
  display: flex;
  gap: 5px;
  font-size: 13px;
  align-items: center;
  margin: 0 0 0 auto;
  color: lighten(@edu-text-color, 10%);
}

.MinimalDocumentCard-notebookLinkArrow {
  font-size: 12px;
}
