.NavigationMobile {
  display: grid;
  place-items: end;
  align-items: center;
}

.NavigationMobile-whiteIcon {
  color: @edu-white;
}

.NavigationMobile-drawerTitle {
  display: flex;
  justify-content: space-between;
}

.NavigationMobile-drawerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavigationMobile-drawerContentSearch {
  margin-bottom: 40px;
}

.NavigationMobile-drawerContentItems {
  display: grid;
  gap: 10px;
  place-items: start;
  grid-auto-flow: row;
  margin-bottom: 15px;
}

.NavigationMobile-drawerContentItem {
  display: grid;
  width: 100%;
  align-items: center;
  place-content: start;
  grid-auto-flow: column;
  gap: @edu-content-padding;
  padding: 10px 0;

  .ant-badge-count {
    font-size: @edu-font-size-xs !important;
  }
}

.NavigationMobile-drawerLanguageItem {
  width: 100%;

  .ant-collapse-header {
    padding: 0 !important;
  }
}

.NavigationMobile-drawerContentItemChildren {
  display: grid;
  grid-auto-flow: row;
  place-items: start;
  gap: 10px;
  padding-left: @edu-content-padding;
}

.NavigationMobile-languageMenuItem {
  width: 100%;
  padding: 10px;

  &.is-selected {
    background-color: @edu-background-color-light;
    border-radius: @edu-border-radius-base;
  }
}
