.NavigationDesktop {
  display: grid;
  gap: 20px;
  align-items: center;
  grid-auto-flow: column;
}

.NavigationDesktop-anonymousUser {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.NavigationDesktop-anonymousUserLink {
  text-decoration: none;
}

.NavigationDesktop-authenticatedUser {
  display: grid;
  align-items: center;
  place-content: start;
  grid-auto-flow: column;
}

.NavigationDesktop-authenticatedUserMenuOption {
  display: grid;
  gap: 10px;
  margin: 2px 0;
  align-items: center;
  place-content: start;
  grid-auto-flow: column;
}
