.NavigationMobile {
  display: grid;
  place-items: end;
  align-items: center;
}

.NavigationMobile-anonymousUserButtons {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
}

.NavigationMobile-whiteIcon {
  color: @edu-white;
}

.NavigationMobile-drawerTitle {
  display: flex;
  justify-content: space-between;
}

.NavigationMobile-drawerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavigationMobile-drawerContentSearch {
  margin-bottom: 40px;
}

.NavigationMobile-drawerContentItems {
  display: grid;
  gap: 25px;
  place-items: start;
  grid-auto-flow: row;
  margin-bottom: 15px;
}

.NavigationMobile-drawerContentItem {
  display: grid;
  gap: 15px;
  align-items: center;
  place-content: start;
  grid-auto-flow: column;
}

.NavigationMobile-drawerLanguageItem {
  width: 100%;

  .ant-collapse-header {
    padding: 0 !important;
  }
}

.NavigationMobile-drawerContentItemChildren {
  display: grid;
  gap: 10px;
  grid-auto-flow: row;
  place-items: start;
}
