.NotSupportedSection {
  padding: 25px;
  text-align: center;
}

.NotSupportedSection-icon {
  color: @edu-error-color;
  font-size: 64px;
}

.NotSupportedSection-title {
  font-size: 24px;
  margin-top: 15px;
}
