@import '../styles/variables.less';

.PageHeader {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  z-index: 1000;
}

.PageHeader-logo {
  flex: 1 0 0%;
  display: block;
  font-family: 'Dancing Script';
  font-size: 32px;
  text-decoration: none;

  &:link, &:visited, &:active, &:hover {
    text-decoration: none;
  }
}

.PageHeader-links {
  flex: none;
  display: block;
}

.PageHeader-user {
  flex: 1 0 0%;
  display: block;
  text-align: right;
}

.PageHeader-editLink {
  flex: none;
  display: block;
}
