.PageContent {
  margin: 0 auto;
  min-height: 600px;
  max-width: @global-section-width-large-screen;
  padding: (4 * @global-section-padding-large-screen) @global-section-padding-large-screen;
  z-index: 0;

  &.PageContent--fullScreen {
    flex: 0 1 100%;
    margin: 0;
    padding: 0;
    max-width: initial;
  }
}
