.PageFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100vw;
  height: 30px;
  text-align: center;

  &.PageFooter-fullScreen {}
}

.PageFooter-link {
	display: inline;
}
