@page-footer-content-layer-margin: 45px;

.PageFooter {
  padding: 20px 0;
  text-align: center;

  &.PageFooter--fullScreen {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.PageFooter-content {
  position: absolute;
  display: block;
  left: @page-footer-content-layer-margin;
  right: @page-footer-content-layer-margin;
  bottom: @page-footer-content-layer-margin;
  text-align: right;
}
