.PageMenu {

  &.PageMenu--horizontal {

    .ant-menu-horizontal {
      border-bottom: none;
      line-height: inherit;
    }

    .ant-menu-item {
      cursor: pointer;
      padding: 0 10px;
      border-bottom: none;
      color: @global-elmu-blue;
    }
  }

  &.PageMenu--vertical {

  }
}
