.PageContent {
  margin: 0 auto;
  max-width: @global-section-width-large-screen;
  padding: @global-section-padding-large-screen;

  &.PageContent-fullScreen {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
