.PermanentActionsCard {
  border-color: @edu-error-color !important;
}

.PermanentActionsCard-content {
  display: grid;
  grid-auto-flow: row;
  gap: @edu-content-padding;
}

.PermanentActionsCard-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PermanentActionsCard-actionTitle {
  display: block;
  font-weight: bold;
}

.PermanentActionsCard-actionDescription {
  display: block;
}

.PermanentActionsCard-actionButtonContainer {
  margin-left: @edu-content-padding;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
