.PluginSelectorDialog {
  width: 560px !important;
  max-width: 90vw !important;
}

.PluginSelectorDialog-footer {
  display: flex;
  justify-content: space-between;
}

.PluginSelectorDialog-footerButtonGroup {
  .m-control-group;
}

.PluginSelectorDialog-pasteButton {
  .m-icon-button;
}
