.PluginSelectorDialog {}

.PluginSelectorDialog-footer {
  display: flex;
  justify-content: space-between;
}

.PluginSelectorDialog-pasteButton {
  display: inline-block;
  padding-left: 10px;

  @media @edu-media-phone {
    display: none;
  }
}
