.ProfileHeader {
  display: grid;
  gap: 35px;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;

  @media @edu-media-phone {
    gap: 15px;
    grid-auto-flow: row;
  }
}

.ProfileHeader-avatar {
  margin: 0 auto;
}

.ProfileHeader-displayName {
  display: flex;
  font-weight: bold;
  color: @edu-text-color;
  font-size: @edu-heading-1-size;
  line-height: 40px;
}

.ProfileHeader-star {
  margin-top: -5px;
  margin-left: 5px;
}

.ProfileHeader-organization {
  display: block;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
}

.ProfileHeader-email {
  .m-control-group-wide;
  font-size: @edu-font-size-sm;
  margin-top: 5px;
  color: @edu-text-color-secondary;
}

.ProfileHeader-emailLink {
  .m-link(inherit);
}
