.ProfileTab {}

.ProfileTab-tabInfo {
  .m-info-card;
}

.ProfileTab-headline {
  .m-section-headline;
}

.ProfileTab-section {
  .m-section-content-narrow;
}

.ProfileTab-avatar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
