.ProfileTab {}

.ProfileTab-tabInfo {
  .m-info-card;
}

.ProfileTab-headline {
  .m-section-headline;
}

.ProfileTab-section {
  .m-section-content;

  @media @edu-media-phone {
    padding-left: 0;
    padding-right: 0;
  }
}

.ProfileTab-input {
  max-width: 50%;

  @media @edu-media-phone {
    max-width: none;
  }
}

.ProfileTab-avatar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}
