.ProfileHeader {
  display: grid;
  gap: 35px;
  align-items: center;
  justify-content: center;
  grid-auto-flow: column;

  @media @edu-media-phone {
    gap: 15px;
    grid-auto-flow: row;
  }
}

.ProfileHeader-avatar {
  margin: 0 auto;
}

.ProfileHeader-displayName {
  display: block;
  font-weight: bold;
  color: @edu-text-color;
  font-size: @edu-heading-1-size;
}

.ProfileHeader-organization {
  display: block;
  font-size: 12px;
  color: @edu-text-color-secondary;
}

.ProfileHeader-email {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  margin-top: 5px;
  color: @edu-text-color-secondary;
}
