.RatingDialog {}

.RatingDialog-explanation {
  margin-bottom: 25px;
}

.RatingDialog-newRatingHeader {
  margin-bottom: 8px;
  font-weight: bold;
}

.RatingDialog-newRating {
  gap: 10px;
  display: grid;
  align-items: end;
  margin-bottom: 40px;
  grid-auto-flow: column;
  justify-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
}

.RatingDialog-newRatingValue {
  font-size: @edu-font-size-sm;
}
