.RegistrationForm {}

.RegistrationForm-termsAndConditionsCheckbox {
  &.ant-checkbox-wrapper {
    line-height: initial;
  }
}

.RegistrationForm-registerButton {
  margin-top: @edu-control-height-lg;
}

.RegistrationForm-confirmation {
  margin-top: 100px;
  text-align: center;
}
