.RegistrationForm {}

.RegistrationForm-termsAndConditionsCheckbox {
  &.ant-checkbox-wrapper {
    line-height: initial;
  }
}

.RegistrationForm-alternativeActionLink {
  text-align: right;
  font-size: @edu-font-size-sm;
}
