.RegistrationForm {}

.RegistrationForm-steps {
  margin-bottom: 50px;
}

.RegistrationForm-step {
  font-size: @edu-font-size-sm !important;

  &.is-selected {
    font-weight: bold;
  }
}

.RegistrationForm-termsAndConditionsCheckbox {
  &.ant-checkbox-wrapper {
    line-height: initial;
  }
}

.RegistrationForm-registerButton {
  .m-user-form-submit-button;
}

.RegistrationForm-verificationMessage {
  text-align: center;
  margin-bottom: 50px;
}
