@repository-browser-filter-input-active-border-color: @orange-6;

.RepositoryBrowser {}

.RepositoryBrowser-browser {

  &.RepositoryBrowser-browser--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}

.RepositoryBrowser-header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.RepositoryBrowser-headerBreadCrumbs {
  flex: 1 0 0%;
}

.RepositoryBrowser-headerButtons {
  flex: none;
}

.RepositoryBrowser-browserRecordIcon {

  &.RepositoryBrowser-browserRecordIcon--folder {
    color: @gold-8;
  }

  &.RepositoryBrowser-browserRecordIcon--file {
    color: @cyan-8;
  }
}

.RepositoryBrowser-browserRecordText {
  white-space: nowrap;

  &.is-highlighted {
    padding: 0;
    font-weight: bold;
    background-color: lighten(@repository-browser-filter-input-active-border-color, 33%);
  }
}

.RepositoryBrowser-tableRow {
  cursor: pointer;

  &.RepositoryBrowser-tableRow--selected {
    background-color: @primary-1;
    font-weight: bold;
  }

  &.RepositoryBrowser-tableRow--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}

.RepositoryBrowser-tableDeleteCell {
  color: @red1;
}

.RepositoryBrowser-filterInput {
  width: 250px;
  margin-right: 10px;

  &.is-active > input:not(:focus):not(:active):not(:hover) {
    border-color: @repository-browser-filter-input-active-border-color;
    box-shadow: 0 0 0 2px lighten(@repository-browser-filter-input-active-border-color, 33%);
  }
}

.RepositoryBrowser-filterClearButton {
  cursor: pointer;
}
