.RepositoryBrowser {}

.RepositoryBrowser-browser {

  &.RepositoryBrowser-browser--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}

.RepositoryBrowser-browserRecordIcon {

  &.RepositoryBrowser-browserRecordIcon--folder {
    color: @gold-8;
  }

  &.RepositoryBrowser-browserRecordIcon--file {
    color: @cyan-8;
  }
}

.RepositoryBrowser-tableRow {
  cursor: pointer;

  &.RepositoryBrowser-tableRow--selected {
    background-color: @primary-1;
    font-weight: bold;
  }

  &.RepositoryBrowser-tableRow--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}
