.ResourceInfoCell {}

.ResourceInfoCell-content {
  width: 100%;
  display: block;
}

.ResourceInfoCell-title {
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

.ResourceInfoCell-description {
  margin-top: 0.2em;
  color: fade(@edu-text-color, 80%);
}

.ResourceInfoCell-subtext {
  margin-top: 0.75em;
  font-size: 0.9em;
  color: @edu-text-color-secondary;
}
