.ResourceInfoCell {}

.ResourceInfoCell-infoContainer {
  display: flex;
}

.ResourceInfoCell-infoContent {
  width: 100%;
  display: block;
  text-decoration: none;
}

.ResourceInfoCell-mainText {
  font-size: 1.25em;
  font-weight: bold;
}

.ResourceInfoCell-description {
  margin-top: 0.2em;
  color: fade(@edu-text-color, 80%);
}

.ResourceInfoCell-subtext {
  margin-top: 0.75em;
  font-size: 0.9em;
  color: @edu-text-color-secondary;
}
