.RoomsTab {}

.RoomsTab-createRoomButton {
  margin-top: 10px;
}

.RoomsTab-accessCell {
  display: flex;
  gap: @edu-controls-group-gap;
  align-items: center;
}

.RoomsTab-sortingSelector {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
