.RoomCard {
  .m-card;
  position: relative;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: @edu-content-padding;
  border-radius: @edu-border-radius-base;
  background-color: @edu-background-color-base;
}

.RoomCard-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 48px;
}

.RoomCard-divider {
  margin: 15px 0;
}

.RoomCard-name {
  .m-line-clamp(1);
  align-self: center;
  text-align: center;
  font-size: 14px;

  &.RoomCard-name--doubleLine {
    .m-line-clamp(2);
  }
}

.RoomCard-owner {
  .m-overflow-ellipsis;
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 12px;
  padding-top: 3px;
  color: @edu-text-color-secondary;
}

.RoomCard-divider {
  margin: 15px 0 !important;
}

.RoomCard-infoRow {
  display: flex;
  gap: 10px;
  font-size: 12px;
  padding: 0 0px 5px 10px;
  color: lighten(@edu-text-color, 10%);

  &:last-of-type {
    padding-bottom: 0;
  }

  &.RoomCard-infoRow--textBlock {
    margin-top: 5px;
  }
}

.RoomCard-infoLabel {
  flex: 0 0 70px;
}

.RoomCard-button {
  margin-top: auto;
}
