.RoomsTab {}

.RoomsTab-info {
  .m-info-card;
}

.RoomsTab-roomsGroupHeadline {
  .m-section-headline;
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0;
  }
}

.RoomsTab-roomsGroup {
  .m-cards-section-content;
}

.RoomsTab-noRoomsInGroup {
  width: 100%;
}
