.RoomsTab {}

.RoomsTab-info {
  .m-info-card;
}

.RoomsTab-roomsGroupHeadline {
  .m-section-headline;
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0;
  }
}

.RoomsTab-roomsGroup {
  .m-section-content;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media @edu-media-phone {
    flex-direction: column;
    align-items: center;
  }
}

.RoomsTab-noRoomsInGroup {
  width: 100%;
}
