.RoomCard {
  .m-row-card(3);
}

.RoomCard-title {
  .m-overflow-ellipsis;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
  font-size: @edu-font-size-base;

  &.RoomCard-title--nonClickable {
    cursor: not-allowed;
    color: @edu-text-color-secondary;
  }
}

.RoomCard-content {
  height: 70px;
  cursor: pointer;
  .m-line-clamp(3);

  &.RoomCard-content--nonClickable {
    cursor: not-allowed;
    color: @edu-text-color-secondary;
  }
}

.RoomCard-infoTooltip {
  display: grid;
  grid-auto-flow: row;
}

.RoomCard-details {
  font-size: @edu-font-size-sm;
}

.RoomCard-description {
  .m-line-clamp(3);
}
