@section-display-new-min-height: 36px;
@section-display-new-editable-padding-top: 40px;
@section-display-new-action-button-margin: 2px;

.SectionDisplayNew {
  background-color: @edu-white;
  border: 1px dotted transparent;
  position: relative;
  padding: @edu-content-padding;
  min-height: @section-display-new-min-height;

  &.is-editable,
  &.is-hard-deletable {
    padding: @edu-content-padding;
    padding-top: @section-display-new-editable-padding-top;
    border-color: @grey-5;
    min-height: @section-display-new-min-height + @section-display-new-editable-padding-top;

    &:hover {
      border: 1px solid @grey-6;
    }

    &.is-dragged {
      border: 1px solid @grey-6;
    }

    &.is-other-section-dragged {
      opacity: 0.60;
    }
  }
}

.SectionDisplayNew-actions {
  display: flex;
  line-height: 18px; // fixes misaligned button when disabled
  position: absolute;
  top: @section-display-new-action-button-margin;

  &.SectionDisplayNew-actions--left {
    left: @section-display-new-action-button-margin;
  }

  &.SectionDisplayNew-actions--right {
    right: @section-display-new-action-button-margin;
  }
}

.SectionDisplayNew-actionButton {
  margin-left: @section-display-new-action-button-margin;

  &.SectionDisplayNew-actionButton--edit,
  &.SectionDisplayNew-actionButton--preview {
    color: @green-8;
    &:hover {
      color: @green-8;
      border-color: @green-8;
    }
  }

  &.SectionDisplayNew-actionButton--delete {
    color: @red-8;
    &:hover {
      color: @red-8;
      border-color: @red-8;
    }
  }
}

.SectionDisplayNew-sectionInfo {
  display: grid;
  gap: 5px;
  align-items: center;
  grid-auto-flow: column;
  padding: 0 5px;
  height: @edu-control-height-sm;
  border: 1px solid @grey-5;
  border-radius: @edu-border-radius-base;
  background-color: @edu-white;
}

.SectionDisplayNew-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @edu-white;
  opacity: 70%;

  &.SectionDisplayNew-overlay--withButtons {
    background-color: @edu-selection-background-color;
    opacity: 100%;
  }
}

.SectionDisplayNew-overlayButton {
  display: block;
  margin: 0 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px @grey-7;

  &.SectionDisplayNew-overlayButton--apply {
    color: @edu-white;
    background-color: @edu-apply-color;
    border: 1px solid darken(@edu-apply-color, 5%);

    &:hover {
      background-color: darken(@edu-apply-color, 15%);
      border: 1px solid darken(@edu-apply-color, 20%);
    }
  }

  &.SectionDisplayNew-overlayButton--discard {
    color: @edu-white;
    background-color: @edu-discard-color;
    border: 1px solid darken(@edu-discard-color, 5%);

    &:hover {
      background-color: darken(@edu-discard-color, 15%);
      border: 1px solid darken(@edu-discard-color, 20%);
    }
  }
}

.SectionDisplayNew-overlayButtonIcon {
  display: flex;
  justify-content: center;
  font-size: 140%;
  line-height: 70%;
  text-align: center;
}

.SectionDisplayNew-overlayButtonText {
  font-size: 80%;
  text-align: center;
}
