@section-min-height: 36px;
@active-section-border-width: 1px;
@active-section-border-color: @grey-7;

.SectionDisplay {
  border: none;
  position: relative;
  padding: @edu-content-padding;
  min-height: @section-min-height;

  &.is-active {
    padding: @edu-content-padding - @active-section-border-width;
    border: @active-section-border-width dashed @active-section-border-color;
  }
}

.SectionDisplay-actions {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;

  &.is-active {
    display: block;
  }
}
