.SectionsDisplay {}

.SectionsDisplay-divider {
  display: flex;
  justify-content: center;
  padding: 20px;

  &.is-hidden {
    visibility: hidden;
  }
}

.SectionsDisplay-dividerButton {
  transition: none !important;
  height: 21px !important;
  width: 21px !important;
  min-width: unset !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: @edu-font-size-sm !important;
}
