@section-display-min-height: 36px;
@section-display-editable-padding-top: 40px;
@section-display-action-button-margin: 2px;

.SectionDisplay {
  background-color: @edu-white;
  border: 1px dotted transparent;
  border-radius: @edu-border-radius-base;
  position: relative;
  padding: @edu-content-padding;
  min-height: @section-display-min-height;

  &.is-editable {
    padding: @edu-content-padding;
    padding-top: @section-display-editable-padding-top;
    border-color: @edu-border-color-dark;
    min-height: @section-display-min-height + @section-display-editable-padding-top;

    &:hover {
      border: 1px solid @edu-border-color-dark;
    }

    &.is-dragged {
      border: 1px solid @edu-border-color-dark;
    }

    &.is-other-section-dragged {
      opacity: 0.60;
    }
  }

  &.is-hard-deletable {
    &:hover {
      border: 1px solid @edu-border-color-dark;
    }

    &:hover .SectionDisplay-actionButton--hardDelete {
      display: block;
    }

    &:hover .SectionDisplay-sectionInfo--hardDelete {
      display: grid;
    }
  }
}

.SectionDisplay-actions {
  display: flex;
  line-height: 18px; // fixes misaligned button when disabled
  position: absolute;
  top: @section-display-action-button-margin;

  &.SectionDisplay-actions--left {
    left: @section-display-action-button-margin;
  }

  &.SectionDisplay-actions--right {
    right: @section-display-action-button-margin;
  }
}

.SectionDisplay-actionButton {
  margin-left: @section-display-action-button-margin;

  &.SectionDisplay-actionButton--edit,
  &.SectionDisplay-actionButton--preview {
    color: @edu-success-color;

    &:hover,
    &:active,
    &:focus {
      color: @edu-success-color;
      border-color: @edu-success-color;
    }
  }

  &.SectionDisplay-actionButton--delete {
    color: @edu-error-color;

    &:hover,
    &:active,
    &:focus {
      color: @edu-error-color;
      border-color: @edu-error-color;
    }
  }

  &.SectionDisplay-actionButton--hardDelete {
    display: none;
    color: @edu-error-color;
    border-color: @edu-error-color;
  }
}

.SectionDisplay-actionTooltip {
  display: flex;
  flex-direction: column;
}

.SectionDisplay-actionTooltipSubtext {
  margin-top: 5px;
  font-size: 11px;
}

.SectionDisplay-sectionInfo {
  display: grid;
  gap: 5px;
  align-items: center;
  grid-auto-flow: column;
  padding: 0 5px;
  height: @edu-control-height-sm;
  border: 1px solid @edu-border-color-dark;
  border-radius: @edu-border-radius-base;
  background-color: @edu-white;

  &.SectionDisplay-sectionInfo--hardDelete {
    display: none;
  }
}

.SectionDisplay-sectionRevisionSeparator {
  padding: 0 5px;

  @media @edu-media-phone {
    display: none;
  }
}

.SectionDisplay-sectionRevision {
  @media @edu-media-phone {
    display: none;
  }
}

.SectionDisplay-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: @edu-border-radius-base;
  background-color: @edu-selection-background-color;
  opacity: 70%;

  &.SectionDisplay-overlay--withButtons {
    background-color: transparent;
    opacity: 100%;
  }
}

.SectionDisplay-overlayButton {
  .m-box-shadow;
  border-radius: 50%;
  background-color: @edu-white;
  display: block;
  margin: 0 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &:hover {
    .m-box-shadow-dark;
    border-radius: 50%;
    background-color: @edu-white;
  }

  &.SectionDisplay-overlayButton--apply {
    color: @edu-success-color;
  }

  &.SectionDisplay-overlayButton--discard {
    color: @edu-error-color;
  }
}

.SectionDisplay-overlayButtonIcon {
  display: flex;
  justify-content: center;
  font-size: 140%;
  line-height: 70%;
  text-align: center;
}

.SectionDisplay-overlayButtonText {
  font-size: 80%;
  text-align: center;
}
