.StarRating {
  display: inline-grid;
  align-items: baseline;
  justify-items: center;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
}

.StarRating-value {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
  padding-right: @edu-control-spacing-base;
}

.StarRating-rating {
  grid-row: 1;
  grid-column: 2;
  line-height: 100%;

  .ant-rate-star:not(:last-child) {
    margin-inline-end: 1px !important;
  }
}

.StarRating-totalCount {
  grid-row: 2;
  grid-column: 2;
  font-size: @edu-font-size-xs;
}
