.StarRating {
  display: inline-grid;
  align-items: baseline;
  justify-content: start;
  grid-auto-flow: column;
}

.StarRating-value {
  padding-right: 10px;
}

.StarRating-rating {
  .ant-rate-star {
    margin-inline-end: 0 !important;
  }
}

.StarRating-totalCount {
  padding-left: 25px;
}
