@storage-browser-filter-input-active-border-color: @orange-6;

.StorageBrowser {
  min-height: 35vh;
}

.StorageBrowser-browser {

  &.StorageBrowser-browser--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}

.StorageBrowser-storageDetails {
  min-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 7px;
}

.StorageBrowser-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
}

.StorageBrowser-control {
  margin-left: 10px;
  margin-bottom: 10px;

  &.StorageBrowser-control--filter {
    width: 250px;

    &.is-active > input:not(:focus):not(:active):not(:hover) {
      border-color: @storage-browser-filter-input-active-border-color;
      box-shadow: 0 0 0 2px lighten(@storage-browser-filter-input-active-border-color, 33%);
    }
  }
}

.StorageBrowser-browserRecordIcon {

  &.StorageBrowser-browserRecordIcon--folder {
    color: @gold-8;
  }

  &.StorageBrowser-browserRecordIcon--file {
    color: @cyan-8;
  }
}

.StorageBrowser-browserRecordText {
  white-space: nowrap;

  &.is-highlighted {
    padding: 0;
    font-weight: bold;
    background-color: lighten(@storage-browser-filter-input-active-border-color, 33%);
  }
}

.StorageBrowser-tableRow {
  cursor: pointer;

  &.StorageBrowser-tableRow--selected {
    background-color: @edu-selection-background-color;
    font-weight: bold;
  }

  &.StorageBrowser-tableRow--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}
