.StorageLocation {
  margin: 2px 0;
  display: flex;
  flex-direction: column;
}

.StorageLocation-filesViewer {
  height: 50vh;
  margin: 20px 0;
  border: 1px solid @edu-border-color-base;

  & .ant-table-placeholder .ant-table-cell {
    border: none;
  }
}

.StorageLocation-buttonsLine {
  display: flex;
  gap: @edu-controls-group-gap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.StorageLocation-buttonsGroup {
  display: flex;
  align-items: center;
  gap: @edu-controls-group-gap;
}

.StorageLocation-filesViewerSelectCotainer {
  width: 100px;
}

.StorageLocation-filesViewerSelect {
  width: 100%;
}

.StorageLocation-storageInfo {
  min-height: 40px;
  margin-bottom: 20px;
}

.StorageLocation-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @edu-white;
}

.StorageLocation-screenBack {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 40px;

  &.is-disabled {
    color: @edu-text-color-secondary;
    cursor: not-allowed;
  }
}

.StorageLocation-screenSelect {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
