.StorageLocation {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.StorageLocation-filesViewer {
  height: 270px;
  margin: 20px 0;
  border: 1px solid @edu-border-color-base;

  & .ant-table-placeholder .ant-table-cell {
    border: none;
  }
}

.StorageLocation-buttonsLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StorageLocation-buttonsGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.StorageLocation-filesViewerSelectCotainer {
  width: 100px;
}

.StorageLocation-filesViewerSelect {
  width: 100%;
}

.StorageLocation-storageInfo {
  min-height: 40px;
  margin-bottom: 20px;
}

.StorageLocation-wizardScreen {
  display: flex;
  flex-direction: column;
  background-color: @edu-white;
}

.StorageLocation-wizardScreenBack {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 20px;
}

.StorageLocation-wizardScreenSelect {
  margin: 30px 0 0 auto;
}
