.StorageLocation {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: @edu-content-padding;
}

.StorageLocation-filesViewer {
  height: 270px;
  margin: 20px 0;
  overflow: auto;
  border: 1px solid @edu-border-color-base;
}

.StorageLocation-buttonsLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.StorageLocation-buttonsGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.StorageLocation-filesViewerSelect {
  width: 150px;
}
