@storage-browser-filter-input-active-border-color: @orange-6;

.StorageBrowser {
  min-height: 35vh;
}

.StorageBrowser-browser {

  &.StorageBrowser-browser--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}

.StorageBrowser-header {
  display: flex;
  align-items: center;
}

.StorageBrowser-headerBreadCrumbs {
  flex: 1 0 0%;
}

.StorageBrowser-headerButtons {
  flex: none;
}

.StorageBrowser-storageUsage {
  width: 50%;
  min-height: 40px;
  padding-left: 7px;
}

.StorageBrowser-browserRecordIcon {

  &.StorageBrowser-browserRecordIcon--folder {
    color: @gold-8;
  }

  &.StorageBrowser-browserRecordIcon--file {
    color: @cyan-8;
  }
}

.StorageBrowser-browserRecordText {
  white-space: nowrap;

  &.is-highlighted {
    padding: 0;
    font-weight: bold;
    background-color: lighten(@storage-browser-filter-input-active-border-color, 33%);
  }
}

.StorageBrowser-tableRow {
  cursor: pointer;

  &.StorageBrowser-tableRow--selected {
    background-color: @edu-selection-background-color;
    font-weight: bold;
  }

  &.StorageBrowser-tableRow--dropTarget {
    background-color: @orange-2;
    box-shadow: 0px 0px 5px @orange-8;
  }
}

.StorageBrowser-tableDeleteCell {
  color: @edu-error-color;
  &:hover, &:active, &:focus {
    color: @edu-danger-color;
  }
}

.StorageBrowser-filterInput {
  width: 250px;
  margin-right: 10px;

  &.is-active > input:not(:focus):not(:active):not(:hover) {
    border-color: @storage-browser-filter-input-active-border-color;
    box-shadow: 0 0 0 2px lighten(@storage-browser-filter-input-active-border-color, 33%);
  }
}

.StorageBrowser-filterClearButton {
  cursor: pointer;
}
