.TagSelector {
  position: relative;

  &.is-adding-subsequent-tag {
    margin-left: @tag-gap;
  }
}

.TagSelector-link {
  display: flex;
  align-items: center;
  color: @edu-link-color;
  padding: @tag-padding;
  font-size: @tag-font-size;
  text-decoration: underline;

  &.is-active {
    color: @edu-white;
    text-decoration: none;
    border-radius: @tag-border-radius;
    background-color: @edu-primary-color-light;
  }
}

.TagSelector-selectWrapper {
  position: absolute;
  top: @edu-control-height-base;
  z-index: @edu-z-index-overlay-layer;
}

.TagSelector-select {
  width: 200px;
}
