.TagSelector {
  position: relative;
}

.TagSelector-link {
  display: flex;
  align-items: center;
  color: @edu-link-color;
  margin: @tag-margin;
  padding: @tag-padding;
  font-size: @tag-font-size;
  user-select: none;
  text-decoration: none;
  border-radius: @tag-border-radius;
  background-color: @edu-background-color-base;

  &:hover {
    background-color: darken(@edu-background-color-base, 3%);
  }

  &.is-active {
    color: @edu-white;
    background-color: @edu-primary-color-light;
  }
}

.TagSelector-selectWrapper {
  position: absolute;
  top: @edu-control-height-base;
  z-index: @edu-z-index-overlay-layer;
}

.TagSelector-select {
  width: 200px;
}
