@timeline-bar-height: 25px;

.Timeline {
  display: flex;
  flex-direction: column;

  &:hover .Timeline-marker,
  &:hover .Timeline-deleteSegment,
  &.is-dragging .Timeline-marker,
  &.is-dragging .Timeline-deleteSegment {
    display: flex;
  }
}

.Timeline-markersBar {
  position: relative;
  height: @timeline-bar-height;
}

.Timeline-segmentsBar {
  display: flex;
  height: @timeline-bar-height;
  color: @edu-white;
  background-color: @edu-primary-color-light;
}

.Timeline-deletionBar {
  display: flex;
  height: @timeline-bar-height;
}

.Timeline-segment {
  text-align: center;
  border-right: 1px dotted @edu-white;

  &:last-of-type {
    border-right: none;
  }
}

.Timeline-marker {
  display: none;
  position: absolute;
  cursor: col-resize;
}

.Timeline-deleteSegment {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: @edu-background-color-light;
  border-right: 1px dotted @edu-border-color-base;

  &:last-of-type {
    border-right: none;
  }
}

.Timeline-deleteButton {
  color: @edu-error-color;

  &:hover {
    color: @edu-error-color;
  }

  &:disabled {
    border: none;
  }
}
