.UiLanguageDialog {}

.UiLanguageDialog-explanation {
  margin: 0 0 25px 0;
}

.UiLanguageDialog-languages {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}

.UiLanguageDialog-language {
  cursor: pointer;
  padding: 10px 10px 5px 10px;
  border-radius: @edu-border-radius-base;

  &:hover {
    .m-box-shadow;
  }

  &.is-selected {
    background-color: @edu-selection-background-color;
  }
}
