.UsedStorage {
  width: 100%;
}

.UsedStorage-progress {
  display: flex;
}

.UserStorage-progressPercentage {
  padding-left: 10px;
  flex-shrink: 0;
}

.UsedStorage-occupiedSpace {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}
