.UserCard {
  .m-card;
  display: grid;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding: @edu-content-padding;
  grid-template-rows: 1fr auto 1fr;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  border-radius: @edu-border-radius-base;
}

.UserCard-displayName {
  .m-overflow-ellipsis;
}

.UserCard-email {
  .m-overflow-ellipsis;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
}

.UserCard-emailLink {
  .m-link(inherit);
  margin-left: 5px;
}

.UserCard-content {
  display: grid;
  gap: 5px;
  grid-auto-flow: row;
}

.UserCard-avatar {
  margin: 0 auto !important;
}

.UserCard-button {
  width: 100%;
}
