.UserDocumentRatingDialog {}

.UserDocumentRatingDialog-explanation {
  margin-bottom: 25px;
}

.UserDocumentRatingDialog-newRatingHeader {
  margin-bottom: 8px;
  font-weight: bold;
}

.UserDocumentRatingDialog-newRating {
  gap: 10px;
  display: grid;
  align-items: end;
  margin-bottom: 40px;
  grid-auto-flow: column;
  justify-content: start;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
}

.UserDocumentRatingDialog-newRatingValue {
  font-size: @edu-font-size-sm;
}
