.UserCard {
  .m-row-card(4);
}

.UserCard-content {
  height: 210px;
  display: grid;
  gap: 5px;
  align-items: center;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;

  &.UserCard-content--clickable {
    cursor: pointer;
  }
}

.UserCard-avatar {
  margin: 0 auto !important;
}

.UserCard-title {
  .m-overflow-ellipsis;
  text-align: center;
  font-weight: bold;
}

.UserCard-details {
  text-align: center;
  font-size: @edu-font-size-sm;
  .m-line-clamp(3);

  &.UserCard-details--includesEmail {
    .m-line-clamp(1);
  }
}


.UserCard-email {
  .m-overflow-ellipsis;
  color: @edu-text-color-secondary;
}

.UserCard-emailLink {
  .m-link(inherit);
  margin-left: 5px;
}
