.UserCard {
  .m-card;
  display: grid;
  text-align: center;
  align-items: center;
  gap: @edu-content-padding;
  padding: @edu-content-padding;
  grid-template-rows: 1fr auto 1fr;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  border-radius: @edu-border-radius-base;
}

.UserCard-button {
  width: 100%;
}
