.MediaLibraryUploadScreen {}

.MediaLibraryUploadScreen-splitScreen {
  width: 100%;
  display: grid;
  overflow-y: auto;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  padding: @edu-content-padding;
  gap: @edu-page-content-padding;

  @media @edu-media-phone {
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
  }
}

.MediaLibraryUploadScreen-previewArea {
  display: grid;
  .m-dropzone;

  &.is-dropping {
    .m-dropzone-active;
  }

  &.is-drop-rejected {
    .m-dropzone-error;
  }
}

.MediaLibraryUploadScreen-previewAreaContent {
  display: grid;
  padding: @edu-content-padding;
  align-content: space-around;
}

.MediaLibraryUploadScreen-divider {
  min-width: 80%;
}

.MediaLibraryUploadScreen-editorArea {
  display: grid;
  align-items: center;
  justify-items: stretch;
}
