.MediaLibraryFileDropzone {
  display: grid;
  .m-dropzone;

  &.MediaLibraryFileDropzone--error {
    border-color: @edu-error-color;
  }

  &.is-dropping {
    .m-dropzone-active;
  }

  &.is-drop-rejected {
    .m-dropzone-error;
  }
}

.MediaLibraryFileDropzone-content {
  display: grid;
  padding: @edu-content-padding;
  align-content: space-around;
}
