.MediaLibraryUploadScreen {}

.MediaLibraryUploadScreen-previewArea {
  display: grid;
  .m-dropzone;

  &.is-dropping {
    .m-dropzone-active;
  }

  &.is-drop-rejected {
    .m-dropzone-error;
  }
}

.MediaLibraryUploadScreen-previewAreaContent {
  display: grid;
  padding: @edu-content-padding;
  align-content: space-around;
}

.MediaLibraryUploadScreen-divider {
  min-width: 80%;
}
