.MediaLibraryFileDropzone {
  display: grid;
  .m-dropzone;

  &.MediaLibraryFileDropzone--warning {
    border-color: @edu-error-color;
  }

  &.is-dropping {
    .m-dropzone-active;
  }

  &.is-drop-rejected {
    .m-dropzone-error;
  }
}

.MediaLibraryFileDropzone-content {
  display: grid;
  padding: @edu-content-padding;
  align-content: space-around;
}

.MediaLibraryFileDropzone-contentButton {
  margin-top: @edu-content-padding;
}

.MediaLibraryFileDropzone-divider {
  width: 100%;
}

.MediaLibraryFileDropzone-sizeWarning {
  font-weight: bold;
  display: inline-grid;
  color: @edu-error-color;
  gap: @edu-control-spacing-wide;
  grid-template-columns: repeat(2, auto);
}
