@activities-item-label-width: 140px;
@activities-item-content-inset-inline-start: @activities-item-label-width + 30px;

.ActivitiesTab-info {
  .m-info-card;
}

.ActivitiesTab-timeline {
  .ant-timeline-item-last {
    .ant-timeline-item-tail {
      display: none;
    }
  }

  .ant-timeline-item-label {
    width: @activities-item-label-width !important;
  }

  .ant-timeline-item-tail,
  .ant-timeline-item-head {
    inset-inline-start: @activities-item-content-inset-inline-start !important;
  }

  .ant-timeline-item-content {
    inset-inline-start: @activities-item-content-inset-inline-start !important;
    width: 80% !important;
  }

  @media @edu-media-phone {
    .ant-timeline-item-label {
      display: none;
    }

    .ant-timeline-item-tail,
    .ant-timeline-item-head,
    .ant-timeline-item-content {
      inset-inline-start: 0px !important;
    }
  }
}

.ActivitiesTab-activity {
  .m-overflow-ellipsis;
}

.ActivitiesTab-activityIcon {
  font-size: @edu-font-size-xl;
  color: @edu-text-color;
}

.ActivitiesTab-activityLabel {
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
}

.ActivitiesTab-activityDescription {
  margin-right: 5px;
}

.ActivitiesTab-activityLink {
  .m-link;
}

.ActivitiesTab-activityDeprecatedTitle {
  .m-deleted-data;
}
