.DocumentsTab {}

.DocumentsTab-info {
  .m-info-card;
  margin-bottom: 20px;
}

.DocumentsTab-createDocumentButton {
  display: block !important;
  margin-left: auto;
}

.DocumentsTab-headline {
  .m-section-headline;
}
