.FavoritesTab {}

.FavoritesTab-sortingSelector {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.FavoritesTab-actions {
  text-align: center;
}

.FavoritesTab-info {
  .m-info-card;
}

.FavoriteTab-headline {
  .m-section-headline;
}

.FavoritesTab-cards {
  .m-section-content;

  &.FavoritesTab-cards--small {
    .m-card-wrapper;
  }

  &.FavoritesTab-cards--wide {
    .m-card-wrapper-wide;
  }
}

.FavoritesTab-cardWrapper {
  position: relative;
}

.FavoritesTab-cardOverlay {
  .m-mask;
  background-color: @edu-white;
  opacity: 0.6;
}

.FavoritesTab-favoriteStart {
  position: absolute;
  top: 4px;
  right: 8px;
}
