@notification-item-label-width: 160px;
@notification-item-content-inset-inline-start: @notification-item-label-width + 20px;

.NotificationsTab-info {
  .m-info-card;
  margin-bottom: 20px;
}

.NotificationsTab-notifications {
  display: grid;
  gap: 15px;
  grid-auto-flow: row;
}

.NotificationsTab-notification {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: @edu-border-radius-base;
  border: 1px solid @edu-border-color-light;
  border-left-width: 5px;
  border-right-width: 5px;
}

.NotificationsTab-notificationContent {
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
  padding: @edu-content-padding;
}

.NotificationsTab-notificationContentIcon {
  font-size: 30px;
  display: flex;
  align-items: center;
}

.NotificationsTab-notificationContentText {
  display: grid;
  gap: 5px;
  grid-auto-flow: row;
}

.NotificationsTab-notificationContentTextMain {
  display: flex;
  flex-wrap: wrap;
}

.NotificationsTab-notificationDescription {
  padding-right: @edu-content-padding;
}

.NotificationsTab-notificationTitle {
  font-style: italic;

}

.NotificationsTab-notificationLink {
  .m-link;
  .m-line-clamp(1);
}

.NotificationsTab-notificationContentTextSecondary {
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
}

.NotificationsTab-notificationRemoveButton {
  height: 100% !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: @edu-content-padding;

  &:hover {
    background-color: @edu-background-color-light !important;
  }
}

.NotificationsTab-removeAllNotificationsButton {
  display: block !important;
  margin-left: auto;
  margin-bottom: @edu-page-content-padding;
}
