.RoomsTab {}

.RoomsTab-controls {
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-bottom: @edu-page-content-padding;

  @media @edu-media-phone {
    grid-auto-flow: row;
    justify-content: center;
  }
}

.RoomsTab-filters {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  gap: @edu-control-spacing-wide;
}

.RoomsTab-textFilter {
  max-width: 300px;
  margin-right: 10px;
}

.RoomsTab-roomsGroupHeadline {
  .m-section-headline;
  margin-top: 30px;

  &:first-of-type {
    margin-top: 0;
  }
}

.RoomsTab-roomsGroup {
  .m-section-content;
  .m-card-wrapper;
}

.RoomsTab-roomsGroupFilterEmptyState {
  margin: 0 auto;
}
