.DashboardPage {}

.StorageTab-tabInfo {
  .m-info-card;
}

.StorageTab-content {
  .m-section-content;
}

.StorageTab-planName {
  display: block;
  margin-bottom: 10px;
}

.StorageTab-usedStorage {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.StorageTab-fileViewer {
  height: 600px;
}
