.DashboardPage {}

.StorageTab-tabInfo {
  .m-info-card;
}

.StorageTab-content {
  .m-section-content;
}

.StorageTab-planName {
  display: block;
  margin-bottom: 20px;
}

.StorageTab-usedStorage {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.StorageTab-roomSelectContainer {
  display: grid;
  align-items: baseline;
  grid-auto-flow: column;
  gap: @edu-control-spacing-wide;
  grid-template-columns: auto 1fr;
}

.StorageTab-roomSelect {
  width: 400px;

  @media @edu-media-phone {
    width: 200px;
  }
}

.StorageTab-fileViewer {
  height: 600px;
}
