.DashboardPage {}

.StorageTab-content {
  .m-section-content;
}

.StorageTab-planName {
  display: block;
  margin-bottom: 20px;
}

.StorageTab-usedStorage {
  width: 100%;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}

.StorageTab-roomSelectContainer {
  display: grid;
  align-items: baseline;
  grid-auto-flow: column;
  gap: 20px;
}

.StorageTab-roomSelectField {
  display: grid;
  align-items: baseline;
  grid-auto-flow: column;
  gap: @edu-control-spacing-wide;
  grid-template-columns: auto 1fr;
}

.StorageTab-roomSelectDetails {
  cursor: help;
  color: @edu-error-color;
  display: grid;
  grid-auto-flow: column;
  gap: @edu-control-spacing-base;
}

.StorageTab-roomSelectDetailsText {
  font-size: @edu-font-size-xs;
  white-space: nowrap;
}

.StorageTab-roomSelect {
  width: 400px;

  @media @edu-media-phone {
    width: 200px;
  }
}

.StorageTab-fileViewer {
  height: 600px;
}
