.RoomDocumentInputs {}

.RoomDocumentInputs-input {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
    border-radius: @edu-border-radius-base;
    background-color: @edu-background-color-light;
  }
}

.RoomDocumentInputs-inputMetadata {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}

.RoomDocumentInputs-inputDate {
  width: 150px;
  font-size: @edu-font-size-sm;
  color: @edu-text-color-secondary;
}

.RoomDocumentInputs-inputLinks {
  display: grid;
  grid-auto-flow: row;
}

.RoomDocumentInputs-inputLink {
  .m-overflow-ellipsis;

  &.RoomDocumentInputs-inputLink--user {
    color: @edu-text-color-secondary;
  }
}

.RoomDocumentInputs-actions {
  margin-left: 10px;
  display: grid;
  gap: 15px;
  grid-auto-flow: column;
}

.RoomDocumentInputs-comments {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  align-items: center;
}

.RoomDocumentInputs-commentsCount {
  .m-comments-count;
}
