.RedactionDocumentsTab {}

.RedactionDocumentsTab-controls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.RedactionDocumentsTab-filter {
  width: 100%;
}

.RedactionDocumentsTab-badges {
  .m-control-group;
}
