.RedactionDocumentsTab {}

.RedactionDocumentsTab-controls {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
  grid-template-columns: 2fr 1fr;

  @media @edu-media-phone {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }
}

.RedactionDocumentsTab-filter {
  width: 100%;
}

.RedactionDocumentsTab-badges {
  .m-control-group;
}

.RedactionDocumentsTab-titleSubtext {
  display: grid;
  gap: 5px;
  grid-auto-flow: row;
}

.RedactionDocumentsTab-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.RedactionDocumentsTab-tagsExpandLink {
  font-size: 0.9em;
  display: inline-block;
  height: 20px;
  padding: 3px;
  margin: 3px 3px 3px 12px;
}
