@import url('../../src/styles/main.less');

// Font override:
@import url('./bundles/lato-font.less');

@testapp-primary-color: #0d6868;

// Override educandu styles:
@edu-font-family: 'Lato', sans-serif;
@edu-primary-color: @testapp-primary-color;
@edu-processing-color: @testapp-primary-color;
@edu-info-color: lighten(@testapp-primary-color, 12%);
@edu-success-color: #369911;
@edu-error-color: #b11200;
@edu-warning-color: #fa8c16;
