@import url('../dist/styles/main.less');

@import (css) url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@educandu-blue: #002f65;

// Example overrides
@global-font-family: 'Lato', sans-serif;
@global-primary-color: @educandu-blue;
@global-heading-color: @educandu-blue;
